@using SKC.Entity.Models
@{
    ViewData["Title"] = Html.GetTansByLan("account-findpwd-20", "Email Reset Password");
    Layout = null;
    var the_user = ViewBag.User as FindUserData ?? new FindUserData();
}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Html.GetTansByLan("account-findpwd-19", "SilkChain - Email Reset Password")</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <environment include="Development">
        <link href="~/css/vendors.stripped.min.css" rel="stylesheet" />
        <link href="~/css/style.bundle.min.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/vendors.stripped.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style.bundle.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
        <link rel="shortcut icon" href="~/favicon.ico" />
    </environment>
</head>
<style type="text/css">
    .text-xs-center {
        text-align: center;
        padding: 21px;
    }

    .g-recaptcha {
        display: inline-block;
    }

    .m-topbar {
        width: 100%;
        box-shadow: 0px 1px 10px 1px rgba(113, 106, 202, 0.2);
    }
</style>
<body class="m--skin- m-header--static m-header--static-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-2" id="m_login">
            <header class="m-grid__item m-header">
                <div class="m-topbar m-stack m-stack--ver m-stack--general" style="margin-top:0;">
                    <div class="m-stack__item m-topbar__lang-wrapper" style="cursor:pointer">                      
                            @if (Html.GetLang() == "en")
    {<span id="chinesesLanguage"><img src="/images/chinese-language.png" /> <span style="vertical-align:middle;">中文</span></span>}
else
{<span id="englishLanguage"><img src="/images/english-language.png" /> <span style="vertical-align:middle;">English</span></span>}                
                    </div>
                </div>
            </header>
            <div class="m-grid__item m-grid__item--fluid m-login__wrapper" style="padding-top:4rem;">
                <div class="m-login__container">
                    <div class="m-login__logo">
                        <a href="#">
                            <img src="/images/silkchain_s65.png">
                        </a>
                    </div>

                    @if (the_user.Step == 1)
                    {
                        <div class="m-login__signin">
                            <div class="m-login__head">
                                <h3 class="m-login__title">
                                    @Html.GetTansByLan("account-findpwd-01", "Reset Password")
                                </h3>
                            </div>
                            <form class="m-login__form m-form">
                                <div class="form-group m-form__group">
                                    <input class="form-control" type="text" placeholder="@Html.GetTansByLan("account-findpwd-12", "Phone/Email")" id="txt_user_params" value="" autocomplete="off" required autofocus>
                                </div>
                                <div class="row m-login__form-sub"></div>
                                <div class="m-login__form-action">
                                    <input value="@Html.GetTansByLan("account-findpwd-18", "Next Step")" type="button" id="but_Check_User" class="btn btn-focus m-btn  m-btn--custom m-btn--air  m-login__btn m-login__btn--primary" />
                                    <input value="@Html.GetTansByLan("account-findpwd-but-1", "Cancel")" type="button" id="but_can_cel" class="btn btn-focus m-btn  m-btn--custom m-btn--air  m-login__btn m-login__btn--primary" />
                                </div>
                            </form>
                        </div>
                    }
                    else if (the_user.Step == 2)
                    {
                        <div class="m-login__signin">
                            <div class="m-login__head">
                                <h3 class="m-login__title">@Html.GetTansByLan("account-findpwd-02", "Safety Verification")</h3>
                            </div>
                            <form class="m-login__form m-form" method="POST">
                                <div class="m-alert m-alert--outline alert alert-success alert-dismissible" role="alert" style="display:none;">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                                    <span>@Html.GetTansByLan("account-findpwd-03", "We have e-mailed your password reset link!")</span>
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="text" disabled="disabled" placeholder="@Html.GetTansByLan("account-findpwd-12", "Phone/Email")" name="email" value="@(the_user.UserParmas)" autocomplete="off" required autofocus>
                                </div>
                                <div class="form-group m-form__group">
                                    <div class="row">
                                        <div class="col-7" style="padding-right:5px;">
                                            <input class="form-control m-input" type="text" placeholder="@Html.GetTansByLan("account-findpwd-13", "Verification Code")" id="txt_code" name="ValidCode" value="" autocomplete="off" required>
                                        </div>
                                        <div class="col-5" style="padding-left:5px;">
                                            <button class="btn btn-primary" type="button" id="but_vertify_code" style="margin-top:1.5rem;padding-left:0;padding-right:0;text-align:center;width:100%;height:4.571428rem;">@Html.GetTansByLan("account-findpwd-16", "Get verification code")</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-login__form-sub"></div>
                                <div class="m-login__form-action">
                                    <input value="@Html.GetTansByLan("account-findpwd-01", "Reset Password")" type="button" id="but_chk_valicode" class="btn btn-focus m-btn  m-btn--custom m-btn--air  m-login__btn m-login__btn--primary" />
                                </div>
                            </form>
                        </div>
                    }
                    else if (the_user.Step == 3)
                    {
                        <div class="m-login__signin">
                            <div class="m-login__head">
                                <h3 class="m-login__title">@Html.GetTansByLan("account-findpwd-01", "Reset Password")</h3>
                            </div>
                            <form class="m-login__form m-form" id="form_reset">
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="password" id="register_email_password" placeholder="@Html.GetTansByLan("account-findpwd-28", "Password")" name="User.UserPwdNvarchar" value="" autocomplete="off" required autofocus>
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="password" placeholder="@Html.GetTansByLan("account-findpwd-27", "ConfirmPassword")" name="RepeatPwd" value="" autocomplete="off" required>
                                </div>
                                <div class="row m-login__form-sub"></div>
                                <div class="m-login__form-action">
                                    <input value="@Html.GetTansByLan("account-findpwd-26", "Submit")" type="button" id="but_rest_pwd" class="btn btn-focus m-btn  m-btn--custom m-btn--air  m-login__btn m-login__btn--primary" />
                                </div>
                            </form>
                        </div>
                    }
                    else if (the_user.Step == 4)
                    {
                        <div class="m-login__signin">
                            <style>
                                .m-login__msg-tips {
                                    padding: 60px 0;
                                    text-align: center;
                                }

                                    .m-login__msg-tips .tips-icon-well {
                                        margin-bottom: 30px;
                                    }

                                        .m-login__msg-tips .tips-icon-well .fa {
                                            font-size: 90px;
                                        }

                                    .m-login__msg-tips .tips-text-well {
                                        margin-bottom: 25px;
                                    }

                                    .m-login__msg-tips .tips-text-well-tle {
                                        margin-bottom: 10px;
                                        font-weight: 400;
                                        font-size: 28px;
                                    }

                                    .m-login__msg-tips .tips-text-well-desc {
                                        font-size: 18px;
                                        color: #808080;
                                    }
                            </style>
                            <div class="m-login__msg-tips">
                                <div class="tips-icon-well text-success"><i class="fa fa-check-circle"></i></div>
                                <div class="tips-text-well">
                                    <h2 class="tips-text-well-tle">@Html.GetTansByLan("account-findpwd-04", "Success")</h2>
                                    <p class="tips-text-well-desc">@Html.GetTansByLan("account-findpwd-05", "Automatic jump after ")<span id="sp_num_seconds">5</span>@Html.GetTansByLan("account-findpwd-06", " seconds")<a href="/Account/Login">@Html.GetTansByLan("account-findpwd-07", " Click here back to login page")</a></p>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            var num = 5;
                            var jump = setInterval(function () {
                                num--;
                                $("#sp_num_seconds").html(num);
                                if (num == 0) {
                                    clearInterval(jump);
                                    location.href = '/Account/Login'
                                }
                            }, 1000);
                        </script>
                    }
                </div>
            </div>
        </div>
    </div>
</body>

</html>
<script src="/js/vendors.stripped.min.js" type="text/javascript"></script>
<script src="~/js/sweetalert.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<environment include="Development">
    <script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
</environment>
<script type="text/javascript">
    $("#chinesesLanguage").click(function () {
        setLang('cn');
        window.location.href = window.location.href;
    });
    $("#englishLanguage").click(function () {
        setLang('en');
        window.location.href = window.location.href;
    });
    function setLang(lan) {
        var exp = new Date();
        exp.setTime(new Date().getTime() + 365 * 24 * 60 * 60 * 1000);
        document.cookie = "lang=" + escape(lan) + ";expires=" + exp.toGMTString() + ";path=/;domain=silkchain.io";
       // document.cookie = "lang=" + escape(lan) + ";expires=" + exp.toGMTString() + ";path=/";
    }
</script>
<script type="text/javascript">
     var find_user = {
         params: { url:'/Account/CheckUserParams'},
         inItControl: function () {
             $("#but_can_cel").click(function () {
                 location.href = "/account/login";
             });

             $("#but_Check_User").click(function () {
                 var user_params = $("#txt_user_params").val();
                 if ($.trim(user_params) == "") {
                     swal('@(Html.Raw(Html.GetTansByLan("account-findpwd-08", "Enter the phone or mail.")))');
                     return;
                 }
                 var data = { Option: 'FindUser', UserParmas: user_params };
                 find_user.request_data(find_user.params.url, data);
             });
             $("#but_vertify_code").click(function () {
                 $(this).attr("disabled", true);
                 find_user.show_wait($(this));
                 var data = { Option: 'FindPwdSendCode', UserParmas: Math.random() };
                 find_user.request_data(find_user.params.url, data);
             });

             $("#but_chk_valicode").click(function () {
                 var code = $("#txt_code").val();
                 if ($.trim(code) == "") {
                     swal('@Html.Raw(Html.GetTansByLan("account-findpwd-17", " Input verification code"))');
                     return;
                 }
                 var data = { Option: 'FindPwdCheckCode', UserParmas: Math.random(), ValidCode: code };
                 find_user.request_data(find_user.params.url, data);
             });

             $("#form_reset").validate({
                 rules: {
                     "User.UserPwdNvarchar": { required: true, rangelength: [6, 20] },
                     "RepeatPwd": { required: true, equalTo: "#register_email_password" }
                 },
                 messages: {
                     "User.UserPwdNvarchar": { required: "@Html.Raw(Html.GetTansByLan("account-findpwd-11", "required"))", rangelength: "@Html.Raw(Html.GetTansByLan("account-findpwd-09", "The length is 6 to 20"))" },
                     "RepeatPwd": { required: "@Html.Raw(Html.GetTansByLan("account-findpwd-11", "required"))", equalTo: "@Html.Raw(Html.GetTansByLan("account-findpwd-10", "The two passwords must be the same"))" }
                 },
                 onkeyup: false,
                 onfocusout: function (element) { $(element).valid(); },
                 submitHandler: function () {
                     var data = $("#form_reset").serializeArray();
                     var opt = { name: 'Option', value: 'ResetPwd' }
                     data.push({ name: 'UserParmas', value: Math.random() })
                     data.push(opt);
                     find_user.request_data(find_user.params.url, data, opt);
                 }
             });

             $("#but_rest_pwd").click(function () {
                 $("#form_reset").submit();
             });

             $("input[type=text],input[type=password]").keydown(function (e) {
                 if (e.keyCode == 13) {
                     return false;
                 }
             });
         },
         request_data: function (url, params,opt) {
             $.ajax({
                 url: url,
                 data: params,
                 type: 'post',
                 success: function (data) {
                     if (data.result) {
                         switch (params.Option || opt.value) {
                             case "FindUser":
                                 location.reload();
                                 break;
                             case "FindPwdCheckCode":
                                 location.reload();
                                 break;
                             case "ResetPwd":
                                 location.reload();
                                 break;
                             default:
                                 break;
                         }
                     } else {
                         if (data.message == "") {
                             location.reload();
                         } else {
                             swal(data.message);
                         }
                     }
                 },
                 error: function () {
                     swal("System Error");
                 }
             });
         },
         show_wait: function (obj) {
             var num = 120;
             var unit = '@Html.Raw(Html.GetTansByLan("account-findpwd-unit-01", " Seconds"))';
             $(obj).attr("disabled", true);
             var wait = setInterval(function () {
                 num--;
                 $(obj).html(num + " " + unit);
                 if (num == 0) { $(obj).attr("disabled", false).html('@Html.Raw(Html.Raw(Html.GetTansByLan("account-findpwd-24", "Get verification code")))'); clearInterval(wait); }
             }, 1000);
         }
     };

     $(function () {
         find_user.inItControl();
     });

</script>

