@model SKC.Entity.Models.Google2FAModel
@{
    Layout = null;
}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Html.GetTansByLan("account-findpwd-19", "SilkChain - Email Reset Password")</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <environment include="Development">
        <link href="~/css/vendors.stripped.min.css" rel="stylesheet" />
        <link href="~/css/style.bundle.min.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/vendors.stripped.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style.bundle.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
        <link rel="shortcut icon" href="~/favicon.ico" />
    </environment>
</head>
<style type="text/css">
    .text-xs-center {
        text-align: center;
        padding: 21px;
    }

    .g-recaptcha {
        display: inline-block;
    }

    .m-topbar {
        width: 100%;
        box-shadow: 0px 1px 10px 1px rgba(113, 106, 202, 0.2);
    }
</style>
<body class="m--skin- m-header--static m-header--static-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-2" id="m_login">
            <header class="m-grid__item m-header">
                <div class="m-topbar m-stack m-stack--ver m-stack--general" style="margin-top:0;">
                    <div class="m-stack__item m-topbar__lang-wrapper">
                        <a href="#" class="m-nav__link">
                            @if (Html.GetLang() == "en")
                            {<span id="chinesesLanguage"><img src="/images/chinese-language.png" /> <span style="vertical-align:middle;">中文</span></span>}
                            else
                            {<span id="englishLanguage"><img src="/images/english-language.png" /> <span style="vertical-align:middle;">English</span></span>}
                        </a>
                    </div>
                </div>
            </header>
            <div class="m-grid__item m-grid__item--fluid m-login__wrapper" style="padding-top:4rem;">
                <div class="m-login__container">
                    <div class="m-login__logo">
                        <a href="#">
                            <img src="/images/silkchain_s65.png">
                        </a>
                    </div>

                    <div class="m-login__signin">
                        <div class="m-login__head">
                            <h3 class="m-login__title">
                              @Html.Raw(Html.GetTansByLan("account-google2fa-title", "Two Factor Authentication Password"))
                            </h3>
                        </div>
                        <form class="m-login__form m-form" method="POST" action="/Account/ValidGoogle2FA" onsubmit="return ChkValid()" >
                            
                            <input type="hidden" name="_token" value="dgR9bui0VWnOd7yzuxzT8GR2JpnpPzYAJJ4pdQFm">
                            <input type="hidden" name="BackUrl" value="@(Model.BackUrl)" />
                            <div class="form-group m-form__group">
                                <input type="text" id="txt_valid" class="form-control" name="ValidCode" autofocus>
                            </div>
                            
                            <div class="m-login__form-action">
                                <input value="@Html.Raw(Html.GetTansByLan("account-google2fa-btn", "Validate"))"  type="submit" id="m_login_submit" class="btn btn-focus m-btn  m-btn--custom m-btn--air  m-login__btn m-login__btn--primary"  />
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>

<script src="/js/vendors.stripped.min.js" type="text/javascript"></script>
<script src="~/js/sweetalert.min.js"></script>
<script type="text/javascript">
    $("#chinesesLanguage").click(function () {
        setLang('cn');
        window.location.href = window.location.href;
    });
    $("#englishLanguage").click(function () {
        setLang('en');
        window.location.href = window.location.href;
    });
    function setLang(lan) {
        var exp = new Date();
        exp.setTime(new Date().getTime() + 365 * 24 * 60 * 60 * 1000);
        document.cookie = "lang=" + escape(lan) + ";expires=" + exp.toGMTString() + ";path=/;domain=silkchain.io";
       // document.cookie = "lang=" + escape(lan) + ";expires=" + exp.toGMTString() + ";path=/";
    }
</script>
</html>
<script type="text/javascript">
    if ('@(Model.Error)' != "") { 
        swal('@(Model.Error)');
    }
    function ChkValid() { 
        var code = $("#txt_valid").val();
        if ($.trim(code) == "") {
            swal('@Html.Raw(Html.GetTansByLan("Account-Google-error1", "Input verification code"))');
            return false;
        }
        return true;
    }
</script>
