@model SKC.Entity.DBModels.SkcUser
@using SKC.Entity.DBModels;
@using SKC.Entity.Enums;
@{
    ViewData["Title"] = "SilkChain - Profile";
    var user_audit = ViewBag.UserAudit as SkcUserAuthentication;
}
<style>
    h3, .h3, h4, .h4 {
        margin: 20px 0px 15px;
    }

    p {
        font-size: 16px;
    }

    label {
        font-size: 16px;
    }

    .mb3 {
        margin-bottom: 30px
    }

    .form-ft-oop .btn {
        min-width: 100px;
    }

    .form-control[readonly], .form-control {
        border-color: #ccc;
    }

    .form-control-lg, .input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn {
        padding: 0.75rem 1rem;
    }

    .m-tabs-line a.m-tabs__link {
        text-transform: capitalize;
    }

        .m-tabs-line.nav.nav-tabs .nav-link:hover,
        .m-tabs-line.nav.nav-tabs .nav-link.active,
        .m-tabs-line a.m-tabs__link:hover,
        .m-tabs-line a.m-tabs__link.active {
            border-bottom: 2px solid #2882c8;
        }

    .m-portlet.m-portlet--tabs .m-portlet__head .m-portlet__head-tools .m-tabs-line .m-tabs__link {
        padding: 1.2rem 0 1.1rem 0;
    }

    .m-portlet.m-portlet--tabs .m-portlet__head {
        height: 4.15rem;
    }

    .security-p-help a {
        text-decoration: none;
    }

    @@media (min-width:768px) {
        .width-md-600 {
            width: 600px;
        }
    }
</style>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">

        <div class="m-portlet m-portlet--full-height m-portlet--tabs" style="margin-bottom:0;">
            <div class="m-portlet__head">
                <div class="m-portlet__head-tools">
                    <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--left" id="profile_tab" role="tablist">
                        <li class="nav-item m-tabs__item"><a class="nav-link m-tabs__link active" data-toggle="tab" href="#m_user_profile_tab" role="tab">Profile</a></li>
                        @*<li class="nav-item m-tabs__item" style="display:none"><a class="nav-link m-tabs__link" data-toggle="tab" href="#m_user_security_tab" role="tab" id="securityTab">Security</a></li>*@
                    </ul>
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div class="tab-pane active" id="m_user_profile_tab">
                <form class="m-form m-form--fit m-form--label-align-right" id="form_valid_fullname" method="POST" action="/Account/CheckAccountInfo">
                    <input type="hidden" name="_token" value="4byV87InJp0fKNWC3pEZhzg0CZSnMHLdImi3Lryp">
                    <input type="hidden" name="Option" value="EditFullName" />
                    <div class="m-portlet m-portlet--mobile m-portlet--skin-dark">
                        <div class="m-portlet__body">
                            <div class="tab-pane @(ViewBag.mode==0?"active":"")" id="m_user_profile_tab">
                                <div class="row" style="margin-bottom:15px;">
                                    <div class="col-lg-12">
                                        <h4 class="sub-title">
                                            <i class="flaticon-lock-1"></i>@Html.GetTansByLan("account_index_bar1", "Change Password")
                                        </h4>
                                    </div>
                                    <div class="col-lg-12">
                                        <button type="button" class="btn btn-primary m-btn--pill" data-toggle="modal" data-target="#modal_change_password" style="margin-top: 5px;">@Html.GetTansByLan("account_index_but1", "Change Password")</button>
                                    </div>
                                </div>
                                <hr />
                                <div class="row width-md-600" style="margin-top:8px;">
                                    <div class="col-lg-12">
                                        <h4 class="sub-title">
                                            <i class="la la-user"></i>@Html.GetTansByLan("account_index_bar2", "Personal Information")
                                        </h4>
                                        <p style="margin-bottom: 30px">@Html.GetTansByLan("account_index_text1", "Your personal information is never shown to other users") </p>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="example_input_full_name" class="form-control-label">@Html.GetTansByLan("account_index_tag1", "Full Name")</label>
                                            <input class="form-control m-input form-control-lg" type="text" name="FullName" value="@(Model.FullNameNvarchar)" required>
                                        </div>
                                        <div class="form-group mb-0">
                                            <label for="example_input_full_name" class="form-control-label">@Html.GetTansByLan("account_index_tag2", "Email")</label>
                                            <input class="form-control m-input form-control-lg" type="text" name="Email" value="@(Model.EmailNvarchar)" @(!string.IsNullOrEmpty(Model.EmailNvarchar) ? "disabled=\"disabled\"" : "") />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet m-portlet--mobile m-portlet--skin-dark mb-0">
                        <div class="m-portlet__body form-ft-oop">
                            <button type="reset" class="btn btn-default m-btn--pill">
                                @Html.GetTansByLan("account_index_cancel1", "Reset")
                            </button> &nbsp;&nbsp;
                            <button type="submit" class="btn btn-primary m-btn--pill">
                                @Html.GetTansByLan("account_index_but2", "Save Change")
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="tab-pane" id="m_user_security_tab" style="display:none">
                <div class="m-portlet m-portlet--mobile m-portlet--skin-dark mb-0">
                    <div class="m-portlet__body form-ft-oop">
                        <div class="row" style="margin:0;height: 150px">
                            <div class="col-lg-12">
                                <h4 class="sub-title"><i class="flaticon-lock-1"></i>Two Factor Authentication</h4>
                            </div>
                            <div class="col-lg-3">
                                @if (Model.FactorAuthenticationBit.HasValue && Model.FactorAuthenticationBit.Value == true)
                                {<p id="a_disable_2fa" class="btn btn-warning m-btn--pill">Disable 2FA</p>}
                                else
                                {<p id="a_enable_2fa" class="btn btn-primary m-btn--pill">Enable 2FA</p>}
                            </div>
                            <p class="col-lg-12 security-p-help" style="font-size:1rem;"><a href="#"><i class="la la-question-circle" style="font-size:1.5rem;vertical-align:text-top;"></i>Google 2FA Guideline</a></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@if (!Model.FactorAuthenticationBit.HasValue || Model.FactorAuthenticationBit.Value == false)
{
<div class="modal fade" id="m_modal_enable_2fa" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">
                    Enable Two-Factor Authentication
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <form>
                <div class="modal-body" id="2faEnableResponse">
                    <div class="panel-body">
                        1. Download and Install Authy or Google Authenticator.
                        <br />2. Scan this barcode OR
                        <br />3. Type this secret key into you app.
                        <code style="display: inline-block;">@SKC.Utility.Helper.GoogleAuthenticator.GetUserSecretKey(Model.UserIdNvarchar)</code>
                        <div id="img_2fa_enable_address" style="width:260px;height:260px;padding:40px;margin-left:auto;margin-right:auto;"></div>
                        <input class="form-control m-input form-control-lg" type="text" id="verify_secret" style="margin-top:4px;" placeholder="Enter the token from your app to verify" required="">
                        <div class="has-danger" style="display: none"><div class="form-control-feedback">Incorrect Token, Please try again!</div></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default m-btn--pill">
                        Reset
                    </button>
                    <button type="submit" id="btn_verify_enable_2fa" class="btn btn-primary m-btn m-btn--air m-btn--custom m-btn--pill">
                        Enable
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>
}
<div class="modal fade" id="m_modal_disable_2fa" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Disable Two-Factor Authentication
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <form>
                <div class="modal-body" id="2faDisableResponse">
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    Enter token to verify
                                    <input class="form-control m-input form-control-lg" type="text" id="disable_verify_secret" style="margin-top: 4px;" placeholder="Two Factor Authentication Token" required="">
                                    <div class="has-danger" style="display: none">
                                        <div class="form-control-feedback">
                                            Incorrect Token, Please try again!
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default m-btn--pill">
                        Reset
                    </button>
                    <button type="submit" id="btn_verify_disable_2fa" class="btn btn-primary m-btn m-btn--air m-btn--custom m-btn--pill">
                        Disable
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--change password modal : -->
<div class="modal fade" id="modal_change_password" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form action="/account/CheckAccountInfo" method="POST" id="update-password-form">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@Html.GetTansByLan("account_index_tab2_text21", "CHANGE PASSWORD")</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" name="_token" value="4byV87InJp0fKNWC3pEZhzg0CZSnMHLdImi3Lryp">
                    <input type="hidden" name="Option" value="ChangePassword" />
                    <div class="form-group m-form__group">
                        <label for="" class="form-control-label">@Html.GetTansByLan("account_index_tab2_text22", "CHANGE PASSWORD")</label>
                        <input type="password" class="form-control m-input form-control-lg" id="" name="OldPassword" required>

                    </div>
                    <div class="form-group m-form__group">
                        <label for="" class="form-control-label">@Html.GetTansByLan("account_index_tab2_text23", "New Password")</label>
                        <input type="password" class="form-control m-input form-control-lg" id="new_password" name="NewPassword" required placeholder="" pattern=".{6,}" title="6 characters minimum">
                    </div>
                    <div class="form-group m-form__group">
                        <label for="" class="form-control-label">@Html.GetTansByLan("account_index_tab2_text24", "Confirm New Password")</label>
                        <input type="password" class="form-control m-input form-control-lg" id="confirm_password" name="ConfirmNewPassword" placeholder="" required pattern=".{6,}" title="6 characters minimum">
                    </div>
                    <div class="has-danger">
                        <div class="form-control-feedback"></div>
                    </div>
                    <div class="m-loader m-loader--brand" style="width: 30px; display: none;"></div>
                </div>
                <div style="border-top: 1px solid #e9ecef;padding:15px 25px 25px">
                    <div class="row" style="margin-bottom: 15px">
                        <div class="col-lg-12">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <button type="reset" class="btn btn-default m-btn--pill">
                                @Html.GetTansByLan("account_index_tab2_but11", "Reset")
                            </button>
                            <button type="submit" class="btn btn-primary  m-btn--pill">
                                @Html.GetTansByLan("account_index_bar1", "Change Password")
                            </button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_success" tabindex="-1" role="dialog" style="display: none;z-index: 1042 ;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="m-0 m-alert m-alert--icon m-alert--outline alert alert-primary alert-dismissible fade show" role="alert" style="border-color: #559CD3 !important;">
                <div class="m-alert__icon">
                    <i class="la la-check" style="color: #559CD3 !important;"></i>
                </div>
                <div class="m-alert__text dark-color font-size-16" style="padding-right: 0;padding-left: 10px;">

                </div>
                <div class="m-alert__close">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_errors" tabindex="-1" role="dialog" style="display: none;z-index: 1042;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-danger alert-dismissible fade show m-0" role="alert">
                <div class="m-alert__icon p-0" style="padding: 15px !important;">
                    <i class="flaticon-exclamation-2"></i>
                </div>
                <div class="m-alert__text dark-color font-size-16" style="padding-right: 0;padding-left: 10px;">
                </div>
                <div class="m-alert__close">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="m_modal_verify_phone" tabindex="-1" role="dialog" style="display: none;z-index: 1041;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Verify A Phone
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">
                        ×
                    </span>
                </button>
            </div>
            <form>
                <div class="modal-body" id="2faDisableResponse">
                    <div class="row">
                        <div style="display: inline-block;width: 130px;text-align: center;">
                            <img alt="" src="/images/ba-common/ic_verify.png">
                        </div>
                        <div style="width: calc(100% - 130px);padding: 0px 15px 0px 0px">
                            <div class="col-12"><p>Enter the verification code provided by SMS to your phone</p></div>
                            <div class="row" style="padding: 0px 15px">
                                <div class="col-4"><input type="text" class="form-control m-input form-control-lg" id="verifyCode"> </div>
                                <div class="col-8"><p>Didn't receive the verification code?<br /> <a href="javascript:void(0)" id="resendSMS">Re-send SMS </a></p></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-default m-btn--pill">
                        Reset
                    </button>
                    <button type="button" id="verifyBtn" class="btn btn-primary m-btn m-btn--air m-btn--custom m-btn--pill">
                        Verify
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
@*<script src="https://cdn.bootcss.com/sweetalert/1.1.3/sweetalert.min.js"></script>*@
<script src="~/js/sweetalert.min.js"></script>
@section script{
    <script type="text/javascript">
    var status = "EMPTY";
    var isAddNew = 'no';
    var validatedPhone = true;
    function resetAMLForm() {
        $("#amlcftForm")[0].reset();
        if (isAddNew != '') {
            hiddenImg('#fileSelfiePhotoUpload', '#fileSelfiePhoto');
            hiddenImg('#fileIdPhotoUpload', '#fileIdPhoto');
            $("#isIdPhotoNew").val(false);
            $("#isSelfiePhotoNew").val(false);
        }
    }
    $(function () {
        $("#sub_phone").val('@Html.Raw(Model.PhoneSysbomNvarchar)');
        $("#sel_nationality").val('@Model.NationalityNvarchar');
        $("#idType").val('@Model.IdentificationTypeNvarchar');


        //Validate on Client
        var password = document.getElementById("new_password")
            , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }
        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;

        $('#update-password-form').on('submit', function (e) {
            $(".m-loader").show();
            $('#update-password-form .form-control-feedback').empty();
            e.preventDefault();
            $.ajax({
                type: "POST",
                data: $(this).serialize(),
                url: $(this).attr('action'),
            }).done(function (data) {
                $(".m-loader").hide();
                swal({
                    text: data.message,
                    type: data.result ? "success" : "error",
                }).then(function (value) {
                    if (data.result) {
                        location.reload();
                    }
                });
            }).fail(function (xhr, status, error) {
                $(".m-loader").hide();
                $("#update-password-form .form-control-feedback").html(xhr.responseText);
            });

            return false;
        });

        $('#form_valid_fullname').on('submit', function (e) {
            $(".m-loader").show();
            e.preventDefault();
            $.ajax({
                type: "POST",
                data: $(this).serialize(),
                url: $(this).attr('action'),
            }).done(function (data) {
                $(".m-loader").hide();
                swal({
                    text: data.message,
                    type: data.result ? "success" : "error",
                }).then(function (value) {
                    if (data.result) {
                        location.reload();
                    }
                });
            }).fail(function (xhr, status, error) {
                $(".m-loader").hide();
                $("#update-password-form .form-control-feedback").html(xhr.responseText);
            });

            return false;
        });

        $('#a_disable_2fa').click(function(e) {
            e.preventDefault();
            $("#m_modal_disable_2fa").modal();
            return false;
        });

        $('#a_enable_2fa').click(function(e) {
            e.preventDefault();
            var tempCode = $('#2faEnableResponse code').text();
            $("#img_2fa_enable_address").empty().qrcode({ width: 180, height: 180, text: tempCode });
            $("#m_modal_enable_2fa").modal();
            return false;
        });

        $('#btn_verify_enable_2fa').click(function(e) {
            e.preventDefault();
            if ($('#verify_secret').val() == '') {
                return false;
            }
            $.ajax({
                type: "POST",
                data: {
                    'ValidateCode': $('#verify_secret').val(),
                    '_token': "KVPxnFiUjsWV85Qv8W8BkhEmBKRYnbZboiNQo21O"
                },
                url: "/Account/GoolgeKeySet",
            }).done(function (data) {
            
                if (data.result) {
                    location.reload();
                } else {
                    $('#m_modal_enable_2fa .has-danger').html(data.msg);
                    $('#m_modal_enable_2fa .has-danger').show();
                }
            });
            return false;
        });
        $('#btn_verify_disable_2fa').click(function(e) {
            e.preventDefault();
            if ($('#disable_verify_secret').val() == '') {
                return false;
            }
            $.ajax({
                type: "POST",
                data: {
                    'ValidateCode': $('#disable_verify_secret').val(),
                    '_token': "KVPxnFiUjsWV85Qv8W8BkhEmBKRYnbZboiNQo21O"
                },
                url: "/Account/GoolgeKeySet",
            }).done(function (data) {
                if (data.indexOf("html") != -1) {
                    window.location.href = '/account/login';
                }
                if (data.result) {
                    location.reload();
                } else {
                    $('#m_modal_disable_2fa .has-danger').html(data.msg);
                    $('#m_modal_disable_2fa .has-danger').show();
                }
            });
            return false;
        });

        });
        $("div").ajaxError(function (e, xhr, opt) {
            alert(xhr.status + " " + xhr.statusText);
            if (xhr.status = 401) {
                //TODO 未登录 跳转到登录页
                window.location.href = '/login';
            }
        });
    </script>
}
