@model SKC.Entity.Models.LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = null;
    string picUrl = ViewBag.DefaultPic;
    string picUrl_En = ViewBag.DefaultPic_EN;
    string errMsg = string.Empty;
    if (!string.IsNullOrEmpty(Model.ErrorMsg))
    {
        errMsg = Model.ErrorMsg;
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Html.GetTansByLan("account-login-title", "SilkChain - Login")</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <environment include="Development">
        <link href="~/css/vendors.stripped.min.css" rel="stylesheet" />
        <link href="~/css/style.bundle.min.css" rel="stylesheet" />
        <link href="~/css/main.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link href="~/css/vendors.stripped.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/style.bundle.min.css" rel="stylesheet" asp-append-version="true" />
        <link href="~/css/main.css" rel="stylesheet" asp-append-version="true" />
        <link rel="shortcut icon" href="~/favicon.ico" />
    </environment>
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5Q7VH5Q');</script>
    <!-- End Google Tag Manager -->
</head>
<style type="text/css">
    .text-xs-center {
        text-align: center;
        padding: 21px;
    }
    .g-recaptcha {
        display: inline-block;
    }
    .m-form .m-form__group label.error {
        color: #f4516c;
    }
    .m-topbar {width:100%;box-shadow:0px 1px 10px 1px rgba(113, 106, 202, 0.2);}
    .m-teleg__join {background-color:#eee;padding:15px 0;}
    .btn.btn-bg-color {background-color:#fff;}
    .btn.btn-bg-color:hover {background-color:#3399cc;}
</style>
<body class="m--skin- m-header--static m-header--static-mobile m-aside-left--enabled m-aside-left--skin-dark m-aside-left--offcanvas m-footer--push m-aside--offcanvas-default">
    <div class="m-grid m-grid--hor m-grid--root m-page">
        <div class="m-grid__item m-grid__item--fluid m-grid m-grid--hor m-login m-login--singin m-login--2 m-login-2--skin-2" id="m_login">
            @if (Model.LuckMoneyInfo == null)
            {
                <header class="m-grid__item m-header">
                    <div class="m-topbar m-stack m-stack--ver m-stack--general" style="margin-top:0;">
                        <div class="m-stack__item m-topbar__lang-wrapper" style="cursor:pointer">
                        @if (Html.GetLang() == "en")
                        {
                            <span id="chinesesLanguage"><img src="/images/chinese-language.png" /> <span style="vertical-align:middle;">中文</span></span>
                        }
                        else
                        {
                            <span id="englishLanguage"><img src="/images/english-language.png" /> <span style="vertical-align:middle;">English</span></span>
                        }
                        </div>
                    </div>
                </header>

                <div class="alert alert-warning alert-dismissible" role="alert" style="display:none;margin-bottom:-20px;background-color:#fff3cd;color:#856404;border:none;border-radius:0;text-align:center;">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="padding-top:0.25rem;top:0;color:#856404;"></button>
                    <span>@Html.GetTansByLan("account-login-12", "SilkChain will never ask members to provide any passwords, please stay alert with the scammers, if you have any problem, contact us with silkchain@itdc.org or join telegram group for help")</span>
                </div>

                <div class="m-grid__item m-grid__item--fluid m-login__wrapper" style="padding-top:4rem;">
                    <div class="m-login__container">
                        <div class="m-login__logo">
                            <a href="#">
                                <img src="/images/silkchain_s65.png">
                            </a>
                        </div>
                        <div class="m-login__signin">
                            <div class="m-login__head">
                                <h3 class="m-login__title">
                                    @Html.GetTansByLan("account-login-01", "Sign In")
                                </h3>
                            </div>
                            <form class="m-login__form m-form" method="POST" action="/Account/Login" style="margin-top: 0;">
                                <input type="hidden" name="_token" value="nQKKO9jaGOmHTAM41HwtACNeadXEOJUAStuQVabb">
                                <input type="hidden" name="BackUrl" value="@Html.Raw(Model.BackUrl)" />
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="text" placeholder="@Html.GetTansByLan("account-login-02", "Email/UserName")" name="UserName" value="@ViewBag.OpenKey" autocomplete="off" required autofocus>
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input m-login__form-input--last" type="password" autocomplete="off" placeholder="@Html.GetTansByLan("account-login-03", "Password")" name="UserPwd" id="password">
                                </div>
                                <div class="form-group m-form__group">
                                </div>
                                <div class="row m-login__form-sub">
                                    <div class="col m--align-left m-login__form-left">
                                        <label class="m-checkbox  m-checkbox--focus">
                                            <input type="checkbox" name="Remember" value="true">
                                            @Html.GetTansByLan("account-login-04", "Remember me")
                                            <span></span>
                                        </label>
                                    </div>
                                    <div class="col m--align-right m-login__form-right" style="">
                                        <a href="/account/FindPassWord?reset=true" id="m_login_forget_password" class="m-link">@Html.GetTansByLan("account-login-05", "Forget Password?")</a>
                                    </div>
                                </div>
                                <div class="text-xs-center"></div>
                                <div class="m-login__form-action">
                                    <input value="@Html.GetTansByLan("account-login-06", "Sign In")" type="submit" id="m_login_submit" class="btn btn-focus m-btn  m-btn--custom m-btn--air  m-login__btn m-login__btn--primary" />
                                </div>
                            </form>
                        </div>

                        <div class="m-login__account" style="margin-bottom:5.2rem;">
                            <span class="m-login__account-msg">
                                @Html.GetTansByLan("account-login-07", "Don't have an account yet?")
                            </span>
                            &nbsp;&nbsp;
                            <a href="/Account/register?Code=@Model.affi" id="m_login_signup" class="m-link m-link--light m-login__account-link">
                                @Html.GetTansByLan("account-login-08", "Sign Up")
                            </a>
                        </div>
                    </div>
                </div>

                <footer class="m-teleg__join text-center">
                    <span class="d-inline-block align-middle mr-sm-4">@Html.GetTansByLan("account-login-foot1", "If you have any questions, Pease join Telegram group for help")</span>
                    <a class="btn btn-outline-focus m-btn--pill btn-bg-color" href="@("en".Equals(Html.GetLang())?" https://t.me/silkchain":"https://t.me/silkchainchinese")" target="_blank">
                        <i class="fa fa-paper-plane"></i>@Html.Raw(Html.GetTansByLan("account-login-telegram", "Join Telegram"))
                    </a>
                </footer>
            }
            else if (false)
            {
                <style>
                    .btn-danger {
                        color: #fff;
                        background-color: #e13c23;
                        border-color: #e13c23;
                    }

                        .btn-danger:hover {
                            color: #fff;
                            background-color: #f22d4e;
                            border-color: #f12143;
                        }

                        .btn-danger:focus, .btn-danger.focus {
                            box-shadow: 0 0 0 3px rgba(244, 81, 108, 0.5);
                        }

                        .btn-danger.disabled, .btn-danger:disabled {
                            background-color: #e13c23;
                            border-color: #e13c23;
                        }

                        .btn-danger:active, .btn-danger.active,
                        .show > .btn-danger.dropdown-toggle {
                            background-color: #f22d4e;
                            background-image: none;
                            border-color: #f12143;
                        }

                    .btn-lg, .btn-group-lg > .btn {
                        padding: 0.65rem 1.75rem;
                    }

                    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control {
                        padding: 1rem 1.25rem;
                        border-color: #eee;
                        background-color: #f8f8f8;
                        font-size: 1.1428rem;
                    }

                    .m-login.m-login--2 .m-login__wrapper.m-redpacket__wrapper .m-login__container .m-login__form .m-login__form-action {
                        margin-top: 4px;
                        padding: 0 15px;
                    }

                    .m-login.m-login--2 .m-login__wrapper.m-redpacket__wrapper .m-login__container {
                        flex: 1 0 auto;
                        display: flex;
                        flex-direction: column;
                    }

                    .m-redpacket__wrapper .ft12 {
                        font-size: 0.8571rem !important;
                    }

                    .m-redpacket__wrapper .login-box-wrapper {
                        flex: 1 0 auto;
                    }

                    .m-redpacket__wrapper .m-checkbox.m-checkbox--focus > span:after {
                        border-color: #e13c23;
                    }

                    .m-redpacket__wrapper .m-checkbox.m-checkbox--focus > input:checked ~ span {
                        border-color: #e13c23;
                    }

                    .m-redpacket__wrapper {
                        position: relative;
                        background: #f0f0f0;
                        border-radius: 8px;
                        border: 1px solid #f0f0f0;
                    }

                        .m-redpacket__wrapper .svg-wrap {
                            border-radius: 10px;
                            overflow: hidden;
                        }

                            .m-redpacket__wrapper .svg-wrap .pathfillellipse {
                                width: 100%;
                                vertical-align: middle;
                            }

                        .m-redpacket__wrapper .red-packet {
                            position: relative;
                            text-align: center;
                            color: #f0c88c;
                        }

                        .m-redpacket__wrapper .avatar {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 5rem;
                            height: 5rem;
                            margin: -3rem auto 0;
                            border-radius: 0.4285714rem;
                            border: 1px solid #ff6400;
                            background-color: #fff;
                        }

                            .m-redpacket__wrapper .avatar > img {
                                max-width: 100%;
                                max-height: 100%;
                            }

                        .m-redpacket__wrapper .sendname {
                            font-size: 1.25rem;
                            margin: 1rem 0 0.3rem 0;
                        }

                        .m-redpacket__wrapper .red-packet {
                            padding-bottom: 20px;
                            text-align: center;
                            color: #333;
                        }

                        .m-redpacket__wrapper .sendname {
                            font-size: 1.15rem;
                            margin: 1rem 0 0.3rem 0;
                        }

                            .m-redpacket__wrapper .sendname strong,
                            .m-redpacket__wrapper .sendname i {
                                display: inline-block;
                                vertical-align: middle;
                            }

                            .m-redpacket__wrapper .sendname i {
                                width: 1.428571rem;
                                height: 1.428571rem;
                                background-color: #ff9600;
                                color: #fff;
                                text-align: center;
                                line-height: 1.428571rem;
                                font-size: 1rem;
                                font-style: normal;
                                margin-left: 0.5rem;
                                border-radius: 4px;
                            }

                        .m-redpacket__wrapper .sendopt {
                            font-size: 1rem;
                            margin-left: 30px;
                            margin-right: 30px;
                        }

                        .m-redpacket__wrapper .login-box-wrapper {
                            padding: 2rem;
                            margin-left: -2rem;
                            margin-right: -2rem;
                            background-color: #fff;
                        }

                    @@media (max-width:576px) {
                        .m-redpacket__wrapper {
                            border: none;
                        }
                    }
                </style>

                <div class="m-grid__item m-grid__item--fluid m-login__wrapper m-redpacket__wrapper" style="display:flex;padding:0 2rem;margin-bottom:0;">
                    <div class="m-login__container">
                        <div class="svg-wrap" style="margin:0 -2rem;">
                            <img class="pathfillellipse" src="data:image/svg+xml;base64,PHN2ZyBjbGFzcz0icGF0aGZpbGxlbGxpcHNlIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjkwIiB2aWV3Qm94PSIwIDAgMzYwIDkwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICAgIDxwYXRoIGQ9Ik0wIDAgTDM2MCAwIEwzNjAgNTAgUTE4MCAxMjUgMCA1MCBMMCAwIFoiIGZpbGwtb3BhY2l0eT0ibnVsbCIgc3Ryb2tlLW9wYWNpdHk9Im51bGwiIHN0cm9rZS13aWR0aD0iMCIgc3Ryb2tlPSIjZTEzYzIzIiBmaWxsPSIjZTEzYzIzIj48L3BhdGg+DQo8L3N2Zz4NCg==" />
                        </div>
                        <div class="red-packet">
                            <div class="avatar"><img width="90%" src="/images/ba-active/red-packet-logo.png" /></div>
                            <div class="sendname">
                                <strong>@Model.LuckMoneyInfo.SendUser @Html.Raw(Html.GetTansByLan("packet-packetIndex-25", "Sent you a red packet"))</strong>
                                @if (Model.LuckMoneyInfo.PacketType == 0)
                                {
                                    <i>@Html.Raw(Html.GetTansByLan("packet-packetIndex-26", "R"))</i>
                                }
                                else
                                {
                                    <i>@Html.Raw(Html.GetTansByLan("packet-packetIndex-26", "I"))</i>
                                }
                            </div>
                            <div class="sendopt">@Html.Raw(Model.LuckMoneyInfo.Message ?? Html.GetTansByLan("packet-send-08", "Best wishes"))</div>
                            @*<div class="sendopt mt-2">
                                @Html.Raw(string.Format(Html.GetTansByLan("account-login-luck-02", "已有{0}人领取了该红包，市值 {1} SILK"),Model.LuckMoneyInfo.OpenCount,Model.LuckMoneyInfo.OpenAmount.ToString("N3"))),
                                <br />@Html.Raw(Html.GetTansByLan("account-login-luck-03", "请先登录再领红包"))
                            </div>*@
                        </div>
                        <div class="login-box-wrapper">
                            <form class="m-login__form m-form" method="POST" action="/Account/Login" style="margin-top: 0;">
                                <input type="hidden" name="_token" value="nQKKO9jaGOmHTAM41HwtACNeadXEOJUAStuQVabb">
                                <input type="hidden" name="BackUrl" value="@Html.Raw(Model.BackUrl)" />
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input" type="text" placeholder="@Html.GetTansByLan("account-login-02", "Email/UserName")" name="UserName" value="" autocomplete="off" required autofocus>
                                </div>
                                <div class="form-group m-form__group">
                                    <input class="form-control m-input m-login__form-input--last" type="password" autocomplete="off" placeholder="@Html.GetTansByLan("account-login-03", "Password")" name="UserPwd" id="password">
                                </div>
                                <div class="form-group m-form__group">
                                </div>
                                <div class="row no-gutters m-login__form-sub" style="padding:0;">
                                    <div class="col m--align-left m-login__form-left">
                                        <label class="m-checkbox  m-checkbox--focus"><input type="checkbox" name="Remember" value="true">@Html.GetTansByLan("account-login-04", "Remember me")<span></span></label>
                                    </div>
                                    <div class="col m--align-right m-login__form-right" style="">
                                        <a href="/account/FindPassWord" id="m_login_forget_password" class="m-link">@Html.GetTansByLan("account-login-05", "Forget Password?")</a>
                                    </div>
                                </div>
                                <div class="text-xs-center">
                                </div>
                                <div class="m-login__form-action">
                                    <input value="@Html.GetTansByLan("account-login-luck-06", "Sign In")" type="submit" id="m_login_submit" class="btn btn-block btn-danger m-btn--pill btn-lg" />
                                </div>
                            </form>

                            <div class="row no-gutters m-login__account">
                                <div class="col-8 m--align-left">
                                    <span class="m-login__account-msg ft12">@Html.GetTansByLan("account-login-07", "Don't have an account yet?")</span>&nbsp;&nbsp;
                                    <a href="/Account/register" id="m_login_signup" class="m-link m-link--light m-login__account-link ft12">
                                        @Html.GetTansByLan("account-login-08", "Sign Up")
                                    </a>
                                </div>
                                <div class="col-4 m--align-right" style="cursor:pointer">
                                    @if (Html.GetLang() == "en")
                                    {
                                        <span id="chinesesLanguage"><img src="/images/chinese-language.png" /> <span style="vertical-align:middle;">中文</span></span>
                                    }
                                    else
                                    {
                                        <span id="englishLanguage"><img src="/images/english-language.png" /> <span style="vertical-align:middle;">English</span></span>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
            else if (true)
            {
                if (Model.LuckMoneyInfo.UseType == 3)
                {// 通过新用户红包分享的领取入口
                <style>
                    .btn-warning {color:#f3102b;background-color:#fff2dd;border-color:#fff2dd;}
                    .btn-warning:hover {color:#da0707;background-color:#fff0ce;border-color:#fff0ce;}
                    .btn-warning:focus,.btn-warning.focus {box-shadow:0 0 0 3px rgba(255,184,34,0.5);}
                    .btn-warning.disabled,.btn-warning:disabled {background-color:#fff2dd;border-color:#fff2dd;}
                    .btn-warning:active,.btn-warning.active {background-color:#fff0ce;background-image:none;border-color:#fff0ce;}
                    .btn-lg,.btn-group-lg > .btn {padding:0.45rem 1.75rem;}
                    .btn-alert {color:#da0707;background-color:#fee893;border-color:#fee893;}
                    .btn-alert:hover {color:#da0707;background-color:#fdd389;border-color:#fdd389;}
                    .form-control:focus{color:#495057;background-color:#fff;border-color:#fff;outline:none;}
                    .m-redpacket__wrapper {position:relative;background:#ffb43c;}
                    .m-redpacket__wrapper .lang-switch {position:absolute;left:0;top:0;z-index:2;width:100%;background-color:rgba(255,255,255,0.5);padding:5px 10px;color:#fff;text-align:right;}
                    .m-redpacket__wrapper .lang-switch > span {cursor:pointer;}
                    .m-redpacket__wrapper .celeb-packet {position:relative;padding-top:182%;padding-bottom:5%;background:url(/images/ba-active/red-packet-newby@(Html.GetLang()=="en"? "-en" : "").jpg) no-repeat center top;background-size:contain;}
                    .m-redpacket__wrapper .celeb-packet .gain-box {position:absolute;left:20%;top:45%;z-index:9;width:60%;padding:5px;}
                    .m-redpacket__wrapper .celeb-packet .awardmax {position:absolute;left:0;top:25%;width:100%;text-align:center;font-size:32px;font-weight:bold;color:#ffeeac;}
                    .m-redpacket__wrapper .celeb-packet .slogan-mark {position:absolute;left:20%;top:65%;width:60%;background-color:rgba(208,173,117,0.3);border:1px dashed #febf64;border-radius:4px;padding:5px 10px;font-size:0.875rem;font-weight:bold;color:#fff;line-height:1.8;text-align:center;}
                    @@media(max-width:768px){
                    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form-action .btn {padding:0.65rem 1.75rem;}
                    }

                    .modal-open .modal.show {display:-webkit-flex !important;-webkit-justify-content:center;-webkit-align-items:center;display:-ms-flex !important;-ms-justify-content:center;-ms-align-items:center;display:flex !important;justify-content:center;align-items:center;}
                    .modal .modal-alert .modal-content {position:relative;height:inherit;background:url(/images/ba-active/red-packet-alert.png) no-repeat 50% 0;background-size:contain;border-radius:0;height:0;padding-bottom:94.5326%;}
                    .modal .modal-alert .modal-content .modal-body {position:absolute;width:100%;height:100%;text-align:center;padding-top:42%;padding-left:12%;padding-right:12%;}
                    .modal .modal-alert .modal-content .gala {color:#ffeeac;font-size:1.15rem;}
                    .modal .modal-alert .modal-content .regis-btn {position:absolute;left:15%;top:80%;width:70%;padding:0 1rem;}
                    @@media (min-width:575.98px) {
                    .modal-dialog.modal-alert {max-width:360px;width:360px;}
                    }
                    @@media (max-width:576px) {
                    .modal.show .modal-dialog {flex:1;}
                    }
                </style>
        
                    <div class="m-grid__item m-grid__item--fluid m-login__wrapper m-redpacket__wrapper" style="display:flex;padding:0;margin-bottom:0;">
                        <div class="m-login__container">
                            <div class="lang-switch">
                                @if (Html.GetLang() == "en")
                                {
                                    <span class="ft12" id="chinesesLanguage"><img src="/images/chinese-language.png" /> <span style="vertical-align:middle;">中文</span></span>
                                }
                                else
                                {
                                    <span class="ft12" id="englishLanguage"><img src="/images/english-language.png" /> <span style="vertical-align:middle;">English</span></span>
                                }
                             </div>
                            <div class="celeb-packet">
                                <div class="awardmax">@Html.GetTansByLan("packet-packetIndex-64", "最多") @Model.LuckMoneyInfo.MaxAmount.ToString("N0") @Html.GetTansByLan("packet-silk-alias-01", "Silk积分")</div>
                                <div class="gain-box">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="@Html.GetTansByLan("account-login-11", "Input your Email/Phone")" id="OpenNo" name="OpenNo" value="" autocomplete="off" required autofocus>
                                    </div>
                                    <div class="m-login__form-action">
                                        <button class="btn btn-block btn-warning m-btn--pill btn-lg" onclick="GetNewUserPacket('@Model.LuckMoneyInfo.PacketID');">@Html.GetTansByLan("account-login-packet-07", "立即领取")</button>
                                    </div>
                                </div>
                                <div class="slogan-mark">@Html.GetTansByLan("packet-packetIndex-66", "Silk-全球自由贸易行业加密数字货币链接世界工厂与全球中小企业买产品，买服务，足不出户做全球生意")</div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="modalMsgAlert" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-alert" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="gala" id="J_modalAlertCont"></div>
                                    <div class="regis-btn">
                                        <button class="btn btn-block btn-alert m-btn--pill btn-lg" data-dismiss="modal" aria-label="Close">OK</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                { 
                    <style>
                    .btn-danger {
                        color: #fff;
                        background-color: #e13c23;
                        border-color: #e13c23;
                    }

                        .btn-danger:hover {
                            color: #fff;
                            background-color: #f22d4e;
                            border-color: #f12143;
                        }

                        .btn-danger:focus, .btn-danger.focus {
                            box-shadow: 0 0 0 3px rgba(244, 81, 108, 0.5);
                        }

                        .btn-danger.disabled, .btn-danger:disabled {
                            background-color: #e13c23;
                            border-color: #e13c23;
                        }

                        .btn-danger:active, .btn-danger.active,
                        .show > .btn-danger.dropdown-toggle {
                            background-color: #f22d4e;
                            background-image: none;
                            border-color: #f12143;
                        }

                    .btn-warning {
                        color: #da0707;
                        background-color: #fee893;
                        border-color: #fee893;
                    }

                        .btn-warning:hover {
                            color: #da0707;
                            background-color: #fdd58b;
                            border-color: #fdd58b;
                        }

                        .btn-warning:focus, .btn-warning.focus {
                            box-shadow: 0 0 0 3px rgba(255, 184, 34, 0.5);
                        }

                        .btn-warning.disabled, .btn-warning:disabled {
                            background-color: #fee893;
                            border-color: #fee893;
                        }

                        .btn-warning:active, .btn-warning.active {
                            background-color: #fbaa00;
                            background-image: none;
                            border-color: #eea200;
                        }

                    .btn-lg, .btn-group-lg > .btn {
                        padding: 0.65rem 1.75rem;
                    }

                    .modal-open .modal.show {
                        display: -webkit-flex !important;
                        -webkit-justify-content: center;
                        -webkit-align-items: center;
                        display: -ms-flex !important;
                        -ms-justify-content: center;
                        -ms-align-items: center;
                        display: flex !important;
                        justify-content: center;
                        align-items: center;
                    }

                    .m-login.m-login--2 .m-login__wrapper .m-login__container .m-login__form .m-form__group .form-control {
                        padding: 1rem 1.25rem;
                        border-color: #eee;
                        background-color: #f8f8f8;
                        font-size: 1.1428rem;
                    }

                    .m-login.m-login--2 .m-login__wrapper.m-redpacket__wrapper .m-login__container .m-login__form .m-login__form-action {
                        margin-top: 4px;
                        padding: 0 15px;
                    }

                    .m-login.m-login--2 .m-login__wrapper.m-redpacket__wrapper .m-login__container {
                        flex: 1 0 auto;
                        display: flex;
                        flex-direction: column;
                    }

                    .m-redpacket__wrapper .ft12 {
                        font-size: 0.8571rem !important;
                    }

                    .m-redpacket__wrapper .login-box-wrapper {
                        flex: 1 0 auto;
                    }

                    .m-redpacket__wrapper .m-checkbox.m-checkbox--focus > span:after {
                        border-color: #e13c23;
                    }

                    .m-redpacket__wrapper .m-checkbox.m-checkbox--focus > input:checked ~ span {
                        border-color: #e13c23;
                    }

                    .m-redpacket__wrapper {
                        position: relative;
                        background: #f0f0f0;
                    }

                        .m-redpacket__wrapper .lang-switch {
                            position: relative;
                            z-index: 2;
                            background-color: #e13c23;
                            margin: 0 -2rem -20px -2rem;
                            padding: 0 10px;
                            color: #fff;
                            text-align: right;
                        }

                            .m-redpacket__wrapper .lang-switch > span {
                                cursor: pointer;
                            }

                        .m-redpacket__wrapper .svg-wrap {
                            overflow: hidden;
                        }

                            .m-redpacket__wrapper .svg-wrap .pathfillellipse {
                                width: 100%;
                                vertical-align: middle;
                            }

                        .m-redpacket__wrapper .red-packet {
                            position: relative;
                            text-align: center;
                            color: #f0c88c;
                        }

                        .m-redpacket__wrapper .avatar {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 5rem;
                            height: 5rem;
                            margin: -3rem auto 0;
                            border-radius: 0.4285714rem;
                            border: 1px solid #ff6400;
                            background-color: #fff;
                        }

                            .m-redpacket__wrapper .avatar > img {
                                max-width: 100%;
                                max-height: 100%;
                            }

                        .m-redpacket__wrapper .sendname {
                            font-size: 1.25rem;
                            margin: 1rem 0 0.3rem 0;
                        }

                        .m-redpacket__wrapper .red-packet {
                            padding-bottom: 20px;
                            text-align: center;
                            color: #333;
                        }

                        .m-redpacket__wrapper .sendname {
                            font-size: 1.15rem;
                            margin: 1rem 0 0.3rem 0;
                        }

                            .m-redpacket__wrapper .sendname strong,
                            .m-redpacket__wrapper .sendname i {
                                display: inline-block;
                                vertical-align: middle;
                            }

                            .m-redpacket__wrapper .sendname i {
                                width: 1.428571rem;
                                height: 1.428571rem;
                                background-color: #ff9600;
                                color: #fff;
                                text-align: center;
                                line-height: 1.428571rem;
                                font-size: 1rem;
                                font-style: normal;
                                margin-left: 0.5rem;
                                border-radius: 4px;
                            }

                        .m-redpacket__wrapper .sendopt {
                            font-size: 1rem;
                            margin-left: 30px;
                            margin-right: 30px;
                        }

                        .m-redpacket__wrapper .login-box-wrapper {
                            padding: 1.5rem 2rem 6rem;
                            margin-left: -2rem;
                            margin-right: -2rem;
                            background-color: #fff;
                            border: 1px solid #f0f0f0;
                            border-top: none;
                        }

                        .m-redpacket__wrapper .wish-word {
                            word-wrap: break-word;
                        }

                        .m-redpacket__wrapper .m-img-square {
                            position: relative;
                            width: 100%;
                        }

                        .m-redpacket__wrapper .m-bg-img {
                            width: 100%;
                            height: 100%;
                            background-position: 50%;
                            background-repeat: no-repeat;
                            background-size: cover;
                        }
                        .m-redpacket__wrapper .m-bg-img img {width:100%;vertical-align:middle;border-radius:8px;}

                        .m-redpacket__wrapper .row.row-gutter-size {
                            margin-left: -2rem;
                            margin-right: -2rem;
                            margin-bottom: -0.75rem;
                            padding:1rem 1rem 0.2rem;
                            background-color:#999;
                        }

                            .m-redpacket__wrapper .row.row-gutter-size > [class*="col-"] {
                                padding-left: 0;
                                padding-right: 0;
                                padding-bottom: 0.8rem;
                            }

                            .m-redpacket__wrapper .row.row-gutter-size.bg-none {background:none;}
                        .m-redpacket__wrapper .ft-act-wrap {
                            width: 430px;
                            margin: 0 auto;
                        }

                        .m-redpacket__wrapper .ft-act-cell {
                            margin-left: -2rem;
                            margin-right: -2rem;
                            padding: 1rem 3.4rem;
                            background-color: #f0f0f0;
                        }

                    .modal .modal-fields .modal-content {
                        height: inherit;
                        background-color: #eee;
                        border-radius: 6px;
                    }

                        .modal .modal-fields .modal-content .modal-header {
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: 9;
                            border-bottom: none;
                            padding: 12px 10px 0 0;
                        }

                            .modal .modal-fields .modal-content .modal-header .close {
                                color: #666;
                                opacity: 1;
                                height: 18px;
                                cursor: pointer;
                            }

                        .modal .modal-fields .modal-content .has-danger {
                            margin-top: -10px;
                            color: #f4516c;
                        }

                        .modal .modal-fields .modal-content .m-login__form-action {
                            margin-top: 2rem;
                        }

                        .modal .modal-fields .modal-content .m-form .m-form__group + .m-form__group {
                            padding-top: 0;
                        }

                    .modal .modal-congrats .modal-content {
                        position: relative;
                        height: inherit;
                        background: url(/images/ba-active/red-packet-congrats.png) no-repeat 50% 0;
                        background-size: contain;
                        border-radius: 0;
                        height: 0;
                        padding-bottom: 96.1774%;
                    }

                        .modal .modal-congrats .modal-content .modal-body {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            padding-top: 18%;
                            padding-left: 18%;
                            padding-right: 18%;
                        }

                        .modal .modal-congrats .modal-content .gala {
                            color: #000;
                            font-size: 24px;
                        }

                        .modal .modal-congrats .modal-content .price {
                            margin-top: 10px;
                            margin-bottom: 4px;
                            line-height: 1;
                        }

                            .modal .modal-congrats .modal-content .price > strong {
                                display: block;
                                font-size: 2.4rem;
                                font-family: arial;
                                color: #e13c23;
                            }

                            .modal .modal-congrats .modal-content .price > em {
                                font-size: 1.5rem;
                                font-style: normal;
                            }

                        .modal .modal-congrats .modal-content .regis-btn {
                            position: absolute;
                            left: 15%;
                            top: 70%;
                            width: 70%;
                            padding: 0 1rem;
                        }

                        .modal .modal-congrats .modal-content .btn-warning.btn-lg {
                            font-size: 1.15rem;
                            padding-left: 0;
                            padding-right: 0;
                        }

                        .modal .modal-congrats .modal-content .note-price {margin-top:10px;line-height:1;}
                        .modal .modal-congrats .modal-content .note-price > strong {font-size:2rem;font-family:arial;color:#e13c23;margin-right:0.3rem;}
                        .modal .modal-congrats .modal-content .note-price > em {font-size:0.9231rem;font-style:normal;}
                        .modal .modal-congrats .modal-content .note-desc {margin-top:6px;font-size:1.15rem;padding:0 10px;color:#333;line-height:1.2;}

                    @@media (min-width:576px) {
                        .modal-dialog.modal-fields {
                            max-width: 360px;
                            width:360px;
                        }

                        .modal-dialog.modal-congrats {
                            max-width: 400px;
                            width: 400px;
                        }
                    }

                    @@media (max-width:576px) {
                        .modal.show .modal-dialog {flex:1;}
                        .m-redpacket__wrapper .login-box-wrapper {
                            border: none;
                        }
                    }

                    @@media (max-width:768px) {
                        .m-redpacket__wrapper .ft-act-wrap {
                            width: 100%;
                        }
                    }
                </style>

                    <div class="m-grid__item m-grid__item--fluid m-login__wrapper m-redpacket__wrapper" style="display:flex;padding:0 2rem;margin-bottom:0;">
                        <div class="m-login__container">
                            <div class="lang-switch">
                                @if (Html.GetLang() == "en")
                                {
                                    <span class="ft12" id="chinesesLanguage"><img src="/images/chinese-language.png" /> <span style="vertical-align:middle;">中文</span></span>
                                }
                                else
                                {
                                    <span class="ft12" id="englishLanguage"><img src="/images/english-language.png" /> <span style="vertical-align:middle;">English</span></span>
                                }
                             </div>
                            <div class="svg-wrap" style="margin:0 -2rem;">
                                <img class="pathfillellipse" src="data:image/svg+xml;base64,PHN2ZyBjbGFzcz0icGF0aGZpbGxlbGxpcHNlIiB3aWR0aD0iMzYwIiBoZWlnaHQ9IjkwIiB2aWV3Qm94PSIwIDAgMzYwIDkwIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPg0KICAgIDxwYXRoIGQ9Ik0wIDAgTDM2MCAwIEwzNjAgNTAgUTE4MCAxMjUgMCA1MCBMMCAwIFoiIGZpbGwtb3BhY2l0eT0ibnVsbCIgc3Ryb2tlLW9wYWNpdHk9Im51bGwiIHN0cm9rZS13aWR0aD0iMCIgc3Ryb2tlPSIjZTEzYzIzIiBmaWxsPSIjZTEzYzIzIj48L3BhdGg+DQo8L3N2Zz4NCg==" />
                            </div>
                            <div class="red-packet">
                            <div class="avatar"><img width="90%" src="/images/ba-active/red-packet-logo.png" /></div>
                                <div class="sendname">
                                    <strong>@Model.LuckMoneyInfo.SendUser @Html.Raw(Html.GetTansByLan("packet-packetIndex-25", "Sent you a red packet"))</strong>
                                    @if (Model.LuckMoneyInfo.PacketType == 0)
                                    {
                                        <i>@Html.Raw(Html.GetTansByLan("packet-packetIndex-26", "R"))</i>
                                    }
                                    else
                                    {
                                        <i>@Html.Raw(Html.GetTansByLan("packet-packetIndex-26", "I"))</i>
                                    }
                                </div>
                                @*<div class="sendopt">@Html.Raw(Model.LuckMoneyInfo.Message ?? Html.GetTansByLan("packet-send-08", "Best wishes"))</div>*@
                            </div>
                            <div class="login-box-wrapper">
                                <article>
                                    <div class="wish-word">@Html.Raw(Model.LuckMoneyInfo.Message ?? Html.GetTansByLan("packet-send-08", "Best wishes"))</div>

                                    @{ 
                                        bool isDefault = true;
                                        if (Model.LuckMoneyInfo != null && Model.LuckMoneyInfo.FileList != null && Model.LuckMoneyInfo.FileList.Count > 0)
                                        {
                                            isDefault = false;
                                        }
                                    }

                                    <div class="row row-gutter-size mt-3 @(isDefault?"bg-none":"")" >
                                        @if (!isDefault)
                                        {
                                            foreach (var item in Model.LuckMoneyInfo.FileList)
                                            {
                                                <div class="col-12">
                                                    <div class="m-img-square">
                                                        <div class="m-bg-img"><img src="@Html.GetImageUrl(item.FileUrl)" onerror="resetImgUrl(this)"  /></div>
                                                    </div> 
                                                </div>
                                            }
                                        }
                                        else
                                        {
                                            <div class="col-12">
                                                <div class="m-img-square">
                                                    <div class="m-bg-img">
                                                        @if (Html.GetLang() == "en")
                                                        {
                                                            <img src="@Html.GetImageUrl(picUrl_En)" onerror="resetImgUrl(this)" />
                                                        }
                                                        else
                                                        { 
                                                            <img src="@Html.GetImageUrl(picUrl)" onerror="resetImgUrl(this)" />
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </article>
                                <div class="fixed-bottom text-center">
                                    <div class="ft-act-wrap">
                                        <div class="ft-act-cell">
                                            <button class="btn btn-block btn-danger m-btn--pill btn-lg" onclick="ViewLogin();">@Html.Raw(Html.GetTansByLan("account-login-packetad-01", "Login and Got it"))</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="modal fade" id="modalDrawDirectly" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-fields" role="document">
                            <div class="modal-content">
                                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                                <div class="modal-body">
                                    <div class="form-group m-form__group">
                                        <input class="form-control m-input" type="text" placeholder="@Html.GetTansByLan("account-login-11", "Input your Email/Phone")" id="OpenNo" name="OpenNo" value="@ViewBag.OpenKey" autocomplete="off" required autofocus>
                                    </div>
                                    <div class="has-danger"></div>
                                    <div class="m-login__form-action">
                                        <input type="button" value="@Html.Raw(Html.GetTansByLan("account-login-packetad-06", "Get It"))" onclick="GetPacketNotLogin('@Model.LuckMoneyInfo.PacketID', '@Model.LuckMoneyInfo.ShareUserID');" id="m_directly_submit_btn" class="btn btn-block btn-danger m-btn--pill btn-lg" />
                                    </div>
                                    <br />
                                    <div class="mt-2 px-2 text-right">
                                        <a href="#modalDrawSignin" data-toggle="modal">@Html.Raw(Html.GetTansByLan("account-login-packetad-02", "Exist account"))</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="modalDrawSignin" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-fields" role="document">
                            <div class="modal-content">
                                <div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
                                <div class="modal-body">
                                    <form class="m-login__form m-form" method="POST" action="/Account/Login" style="margin-top: 0;">
                                        <input type="hidden" name="_token" value="nQKKO9jaGOmHTAM41HwtACNeadXEOJUAStuQVabb">
                                        <input type="hidden" name="BackUrl" value="@Html.Raw(Model.BackUrl)" />
                                        <input type="hidden" name="PacketID" value="@Html.Raw(Model.LuckMoneyInfo.PacketID)" />
                                        <div class="form-group m-form__group">
                                            <input class="form-control m-input" type="text" placeholder="@Html.GetTansByLan("account-login-02", "Email/UserName")" name="UserName" id="UserName" value="" autocomplete="off" required autofocus>
                                        </div>
                                        <div class="form-group m-form__group">
                                            <input class="form-control m-input" type="password" placeholder="@Html.GetTansByLan("account-login-03", "Password")" name="UserPwd" id="UserPwd" value="" autocomplete="off" required autofocus>
                                        </div>
                                        <div class="has-danger"></div>
                                        <div class="m-login__form-action">
                                            <input value="@Html.Raw(Html.GetTansByLan("account-login-06", "Sign In"))" type="submit" id="m_directly_submit" class="btn btn-block btn-danger m-btn--pill btn-lg" />
                                        </div>
                                        <br />
                                        <div class="mt-2 px-2 text-right">
                                            <a href="#modalDrawDirectly" data-dismiss="modal" aria-label="Close">@Html.Raw(Html.GetTansByLan("account-login-packetad-03", "Get directly"))</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="modalDrawCongrats" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-congrats" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="gala">@Html.Raw(Html.GetTansByLan("account-login-packetad-04", "Congrats!"))</div>
                                    <div class="price">
                                        <strong id="notloginamount"></strong><em>@Html.Raw(Html.GetTansByLan("packet-silk-alias-01", "SILK"))</em>
                                    </div>
                                    <div class="regis-btn">
                                        <a class="btn btn-block btn-warning m-btn--pill btn-lg" href="javascript:;" onclick="register()">@Html.Raw(Html.GetTansByLan("account-login-packetad-05", "点击快速注册查看钱包余额"))</a>
                                        <div class="mt-2 px-2 text-right">
                                            <a href="javascript:;" onclick="LoginByNo()" style="color:#fff;">@Html.Raw(Html.GetTansByLan("account-login-packetad-02", "Exist account"))</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="modalDrawNotes" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-congrats" role="document">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="gala">@(" ") @*@Html.Raw(Html.GetTansByLan("account-login-packetad-notes", "notes!"))*@</div>
                                    <div class="note-price" style="display:none;">
                                        <strong id="notesshowamount"></strong><em>@Html.Raw(Html.GetTansByLan("packet-silk-alias-01", "SILK"))</em>
                                    </div>
                                    <div class="note-desc">
                                        <span id="notesshow"></span>
                                    </div>
                                    <div class="regis-btn">
                                        <a class="btn btn-block btn-warning m-btn--pill btn-lg" href="javascript:;" onclick="register()">@Html.Raw(Html.GetTansByLan("account-login-08", "Sign Up"))</a>
                                        <div class="mt-2 px-2 text-right">
                                            <a href="javascript:;" onclick="LoginByNo()" style="color:#fff;">@Html.Raw(Html.GetTansByLan("account-login-packetad-02", "Exist account"))</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</body>
<script src="/js/vendors.stripped.min.js" type="text/javascript"></script>
@* <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
<environment include="Development">
    <script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
</environment>
<environment exclude="Development">
    <script src="https://cdn.bootcss.com/jquery-validate/1.17.0/jquery.validate.min.js"></script>
</environment> *@

<script type="text/javascript">
    function resetImgUrl(obj) {
        obj.src = obj.src.replace("https://i.silkchain.io", "https://imgserver.silkchain.io");
        obj.onerror = null;
    };
    $(document).ready(function () {
        var host = window.location.host;
        if (isWeiXin() && host != "wallet.silkb2b.io") {
            window.location.href = window.location.href.replace('wallet.silkchain.io', '@ViewBag.Host_Wx');
        }
    });

    function isWeiXin() {
        var ua = window.navigator.userAgent.toLowerCase();
        if (ua.match(/MicroMessenger/i) == 'micromessenger') {
            return true;
        } else {
            return false;
        }
    }

var error = '@(Model.ErrorMsg)';
var SnippetLogin = function() {
    var login = $('#m_login');
    var showErrorMsg = function(form, type, msg) {
        var alert = $('<div class="m-alert m-alert--outline alert alert-' + type + ' alert-dismissible" role="alert">\
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>\
			<span></span>\
		</div>');

        form.find('.alert').remove();
        alert.prependTo(form);
        alert.find('span').html(msg);
    }
    //== Private Functions
    var displaySignInForm = function() {
        login.removeClass('m-login--forget-password');
        login.removeClass('m-login--signup');
        login.addClass('m-login--signin');
    }
    var handleSignInFormSubmit = function() {
        $('#m_login_submit').click(function(e) {
            // e.preventDefault();
            var btn = $(this);
            var form = $(this).closest('form');
            form.validate({
                rules: {
                    UserName: {
                        required: true
                    },
                    UserPwd: {
                        required: true
                    }
                },
                messages: {
                    UserName: "@Html.GetTansByLan("account-login-10", "This field is required.")",
                    UserPwd: "@Html.GetTansByLan("account-login-10", "This field is required.")"
                }
            });
            if (!form.valid()) {
                showErrorMsg(form, 'danger', '@Html.GetTansByLan("account-login-09","Incorrect username or password. Please try again.")');
            }else{
                btn.addClass('m-loader m-loader--right m-loader--light');
            }
        });
    }
    return {
        init: function() {
            handleSignInFormSubmit();
            if (error != '') {
                var form = $('#m_login_submit').closest('form')
                showErrorMsg(form, 'danger', error);
            }
        }
    };
} ();
@* +function(t){"use strict";function r(r){return this.each(function(){var e=t(this),n=e.data("bs.alert");n||e.data("bs.alert",n=new a(this)),"string"==typeof r&&n[r].call(e)})}var e='[data-dismiss="alert"]',a=function(r){t(r).on("click",e,this.close)};a.VERSION="3.3.7",a.TRANSITION_DURATION=150,a.prototype.close=function(r){function e(){o.detach().trigger("closed.bs.alert").remove()}var n=t(this),s=n.attr("data-target");s||(s=n.attr("href"),s=s&&s.replace(/.*(?=#[^\s]*$)/,""));var o=t("#"===s?[]:s);r&&r.preventDefault(),o.length||(o=n.closest(".alert")),o.trigger(r=t.Event("close.bs.alert")),r.isDefaultPrevented()||(o.removeClass("in"),t.support.transition&&o.hasClass("fade")?o.one("bsTransitionEnd",e).emulateTransitionEnd(a.TRANSITION_DURATION):e())};var n=t.fn.alert;t(document).on("click.bs.alert.data-api",e,a.prototype.close)}(jQuery); *@
jQuery(document).ready(function() {
    SnippetLogin.init();
});
</script>
<script type="text/javascript">
    function verifyCallback() {
        $("#m_login_submit").prop("disabled", false);
    }
    $("#chinesesLanguage").click(function () {
        setLang('cn');
        window.location.href = window.location.href;
    });
    $("#englishLanguage").click(function () {
        setLang('en');        
        window.location.href = window.location.href;
    });
    function setLang(lan)
    {
            var exp = new Date();
            exp.setTime(new Date().getTime() + 365 * 24 * 60 * 60 * 1000);
            document.cookie = "lang=" + escape(lan) + ";expires=" + exp.toGMTString() + ";path=/;domain=silkchain.io";
            document.cookie = "lang=" + escape(lan) + ";expires=" + exp.toGMTString() + ";path=/;domain=silkb2b.io";
            //document.cookie = "lang=" + escape(lan) + ";expires=" + exp.toGMTString() + ";path=/";
    }
</script>
<script type="text/javascript">

    $(function () {
        $('#modalDrawSignin').on('hidden.bs.modal', function(){
            $(document.body).addClass('modal-open');
        });
        $('#modalDrawCongrats').on('shown.bs.modal', function(){
            $(document.body).addClass('modal-open');
        });
        $('#modalDrawNotes').on('shown.bs.modal', function(){
            $(document.body).addClass('modal-open');
        });

        if ('@errMsg' != "") {
            $('#notesshow').html('@errMsg');
            $("#modalDrawNotes").modal('show');
        }

    });

    function GetPacketNotLogin(onlycode, shareuserid) {
        var openno = $("#OpenNo").val();
        if (openno == "") {
            $("#modalDrawDirectly .has-danger").html("Input your Email/Phone");
            return;
        }

        var regex_email = /^(\w-*\.*)+@@(\w-?)+(\.\w{2,})+$/
        var regex_phone = /^\d{8,11}$/
        if (!regex_email.test(openno) && !regex_phone.test(openno)) {
            $(".has-danger").html('@Html.GetTansByLan("account-login-packetad-07", "非法的邮箱/电话格式")');
            return;
        }

        $.post('/Packet/GetPacketNotLogin', { OnlyCode: onlycode, ShareUserID: shareuserid, OpenNo: openno }, function (data) {
            if (data.code == "-1") {
                //$("#modalDrawDirectly .has-danger").html(data.value);
                $('#modalDrawDirectly').modal('hide');
                $('#notesshow').html(data.message);

                if (data.value != "") {
                    $('#notesshowamount').html(data.value.replace('/', ',')).parent().show();
                    $('#notesshowamount').parent().show();
                    $('#notesshow').parent().css("margin-top", "0px");
                } else {
                    $('#notesshowamount').parent().hide();
                    $('#notesshow').parent().css("margin-top", "40px");
                }

                $('#modalDrawNotes').modal('show');
            } else {
                $('#modalDrawDirectly').modal('hide');
                $('#modalDrawCongrats').modal('show');
                $('#notloginamount').html(data.value.replace('/', ','));
            }
        });
    }
    function register()
    {
        var openKey = $("#OpenNo").val();
        window.location.href = '/Account/register?openkey=' + openKey;
    }
    function LoginByNo()
    {
        var openKey = $("#OpenNo").val();
        window.location.href = '/Account/Login?openkey=' + openKey;
     }
    function ViewLogin() {
        $("#modalDrawDirectly .has-danger").html("");
        //$("#OpenNo").val("");
        $('#modalDrawDirectly').modal('show');
    }

    function GetNewUserPacket(onlycode) {
        var openno = $.trim($("#OpenNo").val());
        if (openno == "") {
            $("#J_modalAlertCont").html('@Html.GetTansByLan("account-login-11", "Input your Email/Phone")');
            $("#modalMsgAlert").modal('show');
            return;
        }

        var regex_email = /^(\w-*\.*)+@@(\w-?)+(\.\w{2,})+$/
        var regex_phone = /^\d{8,11}$/
        if (!regex_email.test(openno) && !regex_phone.test(openno)) {
            $("#J_modalAlertCont").html('@Html.GetTansByLan("account-login-packetad-07", "非法的邮箱/电话格式")');
            $("#modalMsgAlert").modal('show');
            return;
        }

        $.post('/Packet/GetPacketNotLogin', { OnlyCode: onlycode, OpenNo: openno }, function (data) {
            if (data.code == "-1") {
                $("#J_modalAlertCont").html(data.message);
                $("#modalMsgAlert").modal('show');
            } else {
                location.href = "/Packet/NewUserPacketDetail?OnlyCode=" + onlycode + "&OpenNo=" + openno;
            }
        });
    }
</script>
</html>
