@using SKC.Entity.Models;
@model GetCandyModel
@{
    int index = 0;
    string coinType = string.Empty;
    string sign = Html.GetTansByLan("candy-index-23", "CHECK-IN TODAY");

    if (Model != null && Model.IsSign == true)
    {
        sign = Html.GetTansByLan("candy-index-24", "CHECKED IN");
    }
    //int user_status = (int)ViewBag.UserStatus;
    int user_publish = (int)ViewBag.Publish;
    ViewBag.Title = "SilkChain - Candy";

    string contactUrl = "https://t.me/silkchain";
    if (Html.GetLang().ToLower() == "cn")
    {
        contactUrl = "https://t.me/silkchainchinese";
    }
}

<link rel="stylesheet" href="~/lib/calendar/sign2.css" />
<style>
    .row.row-gutters-5 {margin-left:-5px;margin-right:-5px;}
    .row.row-gutters-5 > .col,
    .row.row-gutters-5 > [class*="col-"] {padding-left:5px;padding-right:5px;}
    #head-info th { text-align: center; vertical-align: top; border-top: none; border-bottom: none; }
    #rounds-table tr.active { background-color: #C9DAF4; }
    #rounds-table tr td { padding: 0px; margin: 0px; position: relative; }
    #rounds-table tr td div.warp-cell { height: 100%; width: 100%; display: table; border-bottom: 1px solid #CCCCCC; }
    #rounds-table tr td div.warp-cell > div.cell-content { display: table-cell; vertical-align: middle; padding: 10px; font-size: 16px !important; height: 60px; }
    #rounds-table tr td:FIRST-CHILD div.warp-cell { margin-left: 30px; }
    #rounds-table tr:LAST-CHILD td:FIRST-CHILD div.warp-cell { margin-left: 0px; }
    #rounds-table tr:LAST-CHILD td:FIRST-CHILD div.warp-cell > div.cell-content { padding-left: 40px; }
    #rounds-table thead th { vertical-align: bottom; border-bottom: 1px solid #cccccc; height: 60px; }
    .form-control {font-size:1rem;}
    .input-group-append {margin-left:-1px;}
    .input-group>.input-group-append>.btn {border-top-left-radius:0;border-bottom-left-radius:0;}
    #rounds-table thead th { vertical-align: middle; }
    #rounds-table tbody td { vertical-align: middle; height: 70px; }
    #rounds-table::after { content: ""; display: block; margin-bottom: 30px; }
    #rounds-table tbody tr td:first-child { padding-left: 0px; }
    #rounds-table thead tr th:first-child { padding-left: 40px; }
    #rounds-table tr { border-bottom: 0px solid #CCCCCC; }
    #ico-t-table thead th, #ico-t-table tbody td { vertical-align: middle; }
    #ico-t-table thead th { border-top: none; }
    #head-info thead th:first-child { border-right: 1px solid #CCCCCC; }
    #head-info thead th:nth-child(2) { border-right: 1px solid #CCCCCC; }
    .alert.m-alert--outline.alert-danger .close { font-size: 29px; font-weight: 500; }
    .container { width: 100%; }
    .text-primary {color:#2485c9 !important;}

    .alert-notify-card {display:inline-block; position: relative; margin-top:-6px;margin-bottom:0;}
    .alert-notify-card .close { float: right; position: absolute; right: 10px; top: 0px; }
    .alert-notify-card .alert-cont {word-break: break-all; word-wrap: break-word; }
    .alert-notify-card:before { position: absolute; right:30px; top: -9px; content: ""; margin-left:-8px; display: block; width: 0; height: 0; overflow: hidden; border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #c6c8ca; }
    .text-center .alert-notify-card:before {left:50%;right:auto;}
    .btn-action-sign {font-size:24px;padding:0.8rem 2rem;margin-bottom:20px;}
    .btn-action-sign small {display:block;font-size:14px;line-height:1;color:#ffd200;}
    .sign-satis {background-color:#f2f2f2;padding:10px 0;}
    .sign-satis .sign-block {border-right:1px solid #e2e2e2;}
    .sign-satis .sign-block:last-child {border-right:0;}
    .sign-satis .sign-boldest {font-size:14px;color:#999;}
    .sign-satis .sign-price {color:#333;}
    .sign-satis .sign-price strong {font-weight:300;font-size:18px;}
    .candy-amount {text-align:left;border-bottom:1px solid #ebedf2;padding:40px 1.7857rem 30px;}
    .candy-amount .candy-amount-label {font-size:14px;text-transform:capitalize;margin-bottom:5px;margin-left:2px;}
    .candy-amount .candy-amount-price {font-size:40px;color:#2485c9;font-family:Arial;line-height:1;}
    .candy-amount .candy-amount-price strong {font-weight:600;}
    .candy-amount .candy-amount-price small {font-size:18px;}
    .m--regular-font-size-lg1 {color:#777;font-size:14px !important;}
    .m--regular-font-size-lg1 > p {font-size:14px !important;margin-bottom:10px;text-align:left;}
    .m--regular-font-size-lg1 > p .text-light {color:#ccc !important;}
    .m-portlet .m-panel__box {padding:30px;}
    @@media (max-width: 767.98px) {
        .m-portlet .m-panel__box {padding:1.2rem;max-height:9.8em;overflow-x:hidden;overflow-y:auto;}
        .m-portlet .m-portlet__body {padding:10px;}
        .sign-satis .sign-boldest {font-size:12px;}
        .p-md-l-30 {padding-left:30px !important;}
    }
</style>

<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content" style="background-color: #F2F3F8 !important;">

        <div class="row row-gutters-5">
            <div class="col-lg-6 d-flex align-items-stretch">
                <div class="m-portlet" style="flex:1;">
                    <div class="m-portlet__body" style="padding:0;">
                        <div class="candy-amount">
                            <div class="candy-amount-label">@Html.Raw(Html.GetTansByLan("candy-index-01", "Total Candy Amount"))</div>
                            <div class="candy-amount-price"><strong>@Model.TotalGetAmount.ToString("N2")</strong><small>SILK</small></div>
                        </div>
                        <div class="m--regular-font-size-lg1 m-panel__box">
                            <h5>@Html.Raw(Html.GetTansByLan("candy-index-title-01", "Candy Rules"))</h5>
                            <p><span class="text-light">●</span>@Html.Raw(Html.GetTansByLan("candy-index-02", " Time limit Registration Bonus:"))
                            <br />@Html.Raw(Html.GetTansByLan("candy-index-03", " Register on website via link and finish KYC verification --- 100 Silk (≈$6)"))
                            <br />@Html.Raw(Html.GetTansByLan("candy-index-04", "Join Telegram Group:"))
                            <a href="@contactUrl" target="_blank">@@SilkChain</a></p>
                            @*<span class="text-primary">@Html.GetTansByLan("candy-index-08", "Notice: For legal requirements, please note that KYC will be required before tokens are awarded.")</span>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="m-portlet m-portlet--mobile m-portlet--skin-dark">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <div class="m-portlet__head-title"><h3 class="m-portlet__head-text"><span class="font-weight-bold">@Html.Raw(Html.GetTansByLan("candy-index-09", "Candy Record"))</span></h3></div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div class="text-center">
                            <button id="btnSign" name="btnSign" class="btn btn-primary m-btn--pill btn-action-sign" @Html.Raw(user_publish > 0 && (sign != "CHECKED IN"&&sign != "今日已打卡") ? "" : "disabled=\"disabled\"") onclick="GetCandy('@if (!Model.IsSign) { @Model.OnlyCode; }');">@sign<small>+@Model.Amount.ToString("f0") SILK</small></button>
                            
                            @*<div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Only Code">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="button" @Html.Raw(user_status == 1 ? "" : "disabled=\"disabled\"") onclick="GetCandy('@(!Model.IsSign?"1":"")');">@sign</button>
                                </div>
                            </div>*@
                            @if (user_publish == 0)
                            {
                            <div class="text-center">
                                <div class="alert-notify-card alert alert-dark fade show" role="alert">
                                    @*<div class="alert-cont">@Html.GetTansByLan("candy-index-12", "Please complete the ")<a href="/Account/KYC">@Html.GetTansByLan("candy-index-10", "KYC certification")</a></div>*@
                                    <div class="alert-cont">@Html.GetTansByLan("candy-index-error-09", "Purchase member only")</div>
                                </div>
                            </div>
                            }
                            <div class="row mx-0 mt-3 sign-satis">
                                <div class="col-6 px-0 sign-block">
                                    <div class="sign-boldest">@Html.Raw(Html.GetTansByLan("candy-index-13", "Total Sign Amount"))</div>
                                    <div class="sign-price dark-color"><strong>@Model.TotalCheckGetAmount.ToString("N2")</strong><small>SILK</small></div>
                                </div>
                                <div class="col-6 px-0 sign-block">
                                    <div class="sign-boldest">@Html.Raw(Html.GetTansByLan("candy-index-14", "Numbers Of Daily Check-in"))</div>
                                    <div class="sign-price dark-color"><strong>@Model.TotalCheckCount</strong></div>
                                </div>
                            </div>
                            <div class="date-box mt-4">
                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="m-portlet m-portlet--mobile m-portlet--skin-dark mb-0">
                    <div class="m-portlet__body m-portlet__body--no-padding">
                        <div class="ptlet-pedal">
                            <div class="ptlet-pedal-hd">@Html.Raw(Html.GetTansByLan("candy-index-61", "Candy Records"))</div>
                            <div style="padding:0px 0px 15px 0px">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead class="m-datatable__head">
                                            <tr class="m-datatable__row">
                                                <th class="d-none d-md-table-cell">@Html.GetTansByLan("candy-index-16", "No.")</th>
                                                <th class="p-md-l-30">@Html.GetTansByLan("candy-index-17", "DATE")</th>
                                                <th>@Html.GetTansByLan("candy-index-18", "TYPE")</th>
                                                <th class="text-right">@Html.GetTansByLan("candy-index-19", "AMOUNT")</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model != null && Model.ItemList != null && Model.ItemList.Count > 0)
                                            {
                                                foreach (var item in Model.ItemList)
                                                {
                                                    index++;
                                                    <tr>
                                                        <td class="d-none d-md-table-cell">@index</td>
                                                        <td class="p-md-l-30">@item.CreateTime.ToString("HH:mm MM/dd")</td>
                                                        <td>@Html.GetTansByLan("candy-index-type-"+item.ActivityType, item.ActivityName)</td>
                                                        <td class="text-right">@item.Amount.ToString("f2")</td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td align="center" colspan="4">@Html.Raw(Html.GetTansByLan("candy-index-20", "No data available "))</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modal_errors" tabindex="-1" role="dialog" style="display: none;z-index: 1042;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="m-alert m-alert--icon m-alert--icon-solid m-alert--outline alert alert-danger alert-dismissible fade show m-0" role="alert">
                <div class="m-alert__icon p-0" style="padding: 15px !important;">
                    <i class="flaticon-exclamation-2"></i>
                </div>
                <div class="m-alert__text dark-color font-size-16" style="padding-right: 0;padding-left: 10px;">
                </div>
                <div class="m-alert__close">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
</div>

@section script{
    <script src="~/lib/calendar/calendar.js"></script>
    <script type="text/javascript">
        //日历
        $(function () {
            var signDateArr = [];
            var signList = '@Model.SignList';
            if (signList != "") {
                var signArray = new Array();
                signArray = signList.split('|');
                if (signArray.length > 0) {
                    for (var i = 0; i < signArray.length; i++)
                    {
                        signDateArr.push({ "signDay": signArray[i] });
                    }
                }
            }
            calUtil.init(signDateArr);
        });

        // 打卡
        function GetCandy(type) {
            $("#btnSign").attr("disabled", true);
            $.post('/Candy/GetDaliyMarkCandy', {}, function (data) {
                if (data.code == "1") {
                    location.reload();
                } else {
                    $('#modal_errors .m-alert__text').html(data.msg);
                    $('#modal_errors').modal();
                }
            });
        }
    </script>
}
