@using SKC.Entity.Models
@model UserRechargePageMode
@{
// Layout = null;
}
<style>
    .m-portlet .m-portlet__head .m-portlet__head-caption {
        width: 120px;
        white-space: nowrap;
    }

        .m-portlet .m-portlet__head .m-portlet__head-caption .m-portlet__head-title .m-portlet__head-text.head-text-nobd {
            border-bottom: none;
        }

    .m-portlet.m-portlet--skin-dark .m-portlet__head .m-portlet__head-text.head-text-nobd:after {
        width: 0;
        height: 20px;
        border-bottom: none;
        border-right: 2px solid #ddd;
        left: 100%;
        bottom: auto;
        top: 50%;
        margin-top: -8px;
    }

    .m-portlet .m-portlet__head .m-portlet__head-tools {
        padding-left: 1rem;
    }

    .m-tabs-line.nav.nav-tabs {border-bottom:none;padding-left:15px;}
    .m-tabs-line.nav.nav-tabs .nav-link {height:60px;padding-top:21px;}
    .m-tabs-line.nav.nav-tabs .nav-link:hover,
    .m-tabs-line.nav.nav-tabs .nav-link.active {border-bottom-color:#2882c8;color:#2882c8;font-weight:normal;}

    .m-portlet .m-portlet__head .sus-dropmenu {
        text-align: left;
    }

        .m-portlet .m-portlet__head .sus-dropmenu .nav-link {
            display: inline-block;
            font-size: 16px;
            padding: 0.5rem 1rem 0.3rem 1rem;
            color: #333;
        }

    .m-portlet .m-portlet__body table th {
        border-bottom: 1px solid #f1f5ff;
        background: #f1f5ff;
    }

    .m-portlet .m-portlet__body .protlet-label {
        font-size: 1.1rem;
        margin-right: 4rem;
    }

    .m-portlet .m-portlet__body .protlet-select {
        width: 10rem;
    }

    .m-portlet .m-portlet__body .protlet-input {
        width: 42rem;
        display: inline-block;
        cursor: default;
        background-color: #f7f9ff;
        max-width: 100%;
        font-size: 14px;
    }

    .m-portlet .m-portlet__body .icon-copy {
        display: inline-block;
        width: 13px;
        height: 13px;
        background: url('/images/ba-silkpay/icon-copy.png') no-repeat center;
        background-size: contain;
        cursor: pointer;
    }

    .m-portlet .m-portlet__body .icon-qrcode {
        display: inline-block;
        width: 15px;
        height: 13px;
        background: url('/images/ba-silkpay/icon-qrcode.png') no-repeat center;
        background-size: contain;
        position: absolute;
        right: 20px;
        top: 50%;
        margin-top: -6.5px;
        cursor: pointer;
    }

    .m-portlet .m-portlet__body .protlet-tips {
        margin-top: 2.7rem;
        margin-left: 7.7rem;
        border-top: 1px solid #eee;
        padding-top: 1.79rem;
        max-width: 100%;
        color: #919191;
    }

    .m-portlet .m-portlet__body .input-group-btn {
        position: absolute;
        right: 46px;
        top: 50%;
        margin-top: -6.5px;
        width: 13px;
        height: 13px;
    }
    @@media (max-width: 767.98px) {
        .sus-m-tabs-lap {display:none;}
        .sus-dropmenu {display:block;}
    }
    @@media (min-width: 768px) {
        .sus-m-tabs-lap {display:flex;}
        .sus-dropmenu {display:none;}
    }
</style>
<style type="text/css" media="screen and (max-width:750px)">
    .m-portlet .m-portlet__body .protlet-input {
        padding-right: 5.5rem;
    }

    .m-portlet .m-portlet__body .protlet-tips {
        margin-left: 0;
    }
</style>
<div class="m-grid__item m-grid__item--fluid m-wrapper">
    <div class="m-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-portlet m-portlet--mobile m-portlet--skin-dark">
                    <div class="m-portlet__head">
                        <div class="m-portlet__head-caption">
                            <a href="/SilkPay/Index" class="m-portlet__head-title"><h3 class="m-portlet__head-text head-text-nobd"><span class="font-weight-bold">@Html.Raw(Html.GetTansByLan("silkpay-index-01", "Silk Pay"))</span></h3></a>
                        </div>
                        <div class="m-portlet__head-tools">
                            <ul class="nav nav-tabs m-tabs m-tabs-line m-tabs-line--left sus-m-tabs-lap" id="profile_tab" role="tablist">
                                <li class="nav-item m-tabs__item"><a class="nav-link m-tabs__link" href="/SilkPay/Wallet">@Html.Raw(Html.GetTansByLan("silkpay-index-02", "我的钱包"))</a></li>
                                <li class="nav-item m-tabs__item"><a class="nav-link m-tabs__link active" href="/SilkPay/Recharge">@Html.Raw(Html.GetTansByLan("silkpay-index-03", "充币"))</a></li>
                                <li class="nav-item m-tabs__item"><a class="nav-link m-tabs__link" href="/Wallet/Index">@Html.Raw(Html.GetTansByLan("silkpay-index-04", "提币"))</a></li>
                                <li class="nav-item m-tabs__item"><a class="nav-link m-tabs__link" href="/SilkPay/Transaction">@Html.Raw(Html.GetTansByLan("silkpay-index-05", "资金记录"))</a></li>
                                <li class="nav-item m-tabs__item"><a class="nav-link m-tabs__link" href="https://api-silk-1000.silkchain.io/Home/Index" target="_blank">@Html.Raw(Html.GetTansByLan("silkpay-index-06", "开发对接"))</a></li>
                            </ul>
                            <div class="sus-dropmenu">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@Html.Raw(Html.GetTansByLan("silkpay-index-03", "充币"))</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/SilkPay/Index">@Html.Raw(Html.GetTansByLan("silkpay-index-02", "我的钱包"))</a>
                                    <a class="dropdown-item" href="/SilkPay/Recharge">@Html.Raw(Html.GetTansByLan("silkpay-index-03", "充币"))</a>
                                    <a class="dropdown-item" href="/Wallet/Index">@Html.Raw(Html.GetTansByLan("silkpay-index-04", "提币"))</a>
                                    <a class="dropdown-item" href="/Silkpay/transaction">@Html.Raw(Html.GetTansByLan("silkpay-index-05", "资金记录"))</a>
                                    <a class="dropdown-item" target="_blank" href="https://api-silk-1000.silkchain.io/Home/Index">@Html.Raw(Html.GetTansByLan("silkpay-index-06", "开发对接"))</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-portlet__body">
                        <div>
                            <label for="" class="protlet-label">@Html.Raw(Html.GetTansByLan("silkpay-recharge-01", "币种："))</label>
                            <select name="" id="CoinType" class="custom-select form-control protlet-select">
                                @if (Model.CoinType == "SILK") { <option value="SILK" selected="selected">SILK</option>}else{<option value="SILK">SILK</option>}
                                @*@if (Model.CoinType == "ETH") { <option value="ETH" selected="selected">ETH</option>}else{<option value="ETH">ETH</option>}
                                @if (Model.CoinType == "USD") { <option value="USD" selected="selected">USD</option>}else{<option value="USD">USD</option>}
                                @if (Model.CoinType == "BTC") { <option value="BTC" selected="selected">BTC</option>}else{<option value="BTC">BTC</option>}*@
                            </select>
                        </div>
                        <div style="margin-top: 12px;">
                            <label for="" class="protlet-label">@Html.Raw(Html.GetTansByLan("silkpay-recharge-02", "地址："))</label>
                            <div style="position: relative;display: inline-block;max-width: 100%;">
                                <input type="text" id="affiliate_invite_address" class="form-control form-control-lg protlet-input" readonly value="@Model.CoinAddress">
                                <span class="input-group-btn" id="affiliate_trigger" data-clipboard-target="#affiliate_invite_address">
                                    <i class="icon-copy" onclick="return copyValToClipboard('#affiliate_trigger')"></i>
                                </span>
                                <i class="icon-qrcode" id="a_enable_2fa"></i>
                            </div>
                        </div>
                        <div class="protlet-tips">
                            <ul>
                                <li>@Html.Raw(Html.GetTansByLan("silkpay-recharge-03", "禁止向ETH地址充值除ETH之外的资产，任何充入ETH地址的非ETH资产将不可找回。"))</li>
                                @*<li>@Html.Raw(Html.GetTansByLan("silkpay-recharge-04", "使用ETH地址充值需要12个网络确认才能到账"))</li>
                                <li>@Html.Raw(Html.GetTansByLan("silkpay-recharge-05", "充值最小额度为0.01ETH，小于0.01ETH将无法到账"))</li>*@
                            </ul>
                        </div>
                        <div class="modal fade" id="m_modal_enable_2fa" tabindex="-1" role="dialog" style="display: none;top: 20%;" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h5 class="modal-title"></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">
                                                ×
                                            </span>
                                        </button>
                                    </div>
                                    <form>
                                        <div class="modal-body" id="2faEnableResponse">
                                            <div class="panel-body">
                                                <div id="img_2fa_enable_address" style="width:260px;height:260px;padding:40px;margin-left:auto;margin-right:auto;"></div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="m-portlet m-portlet--mobile m-portlet--skin-dark mb-0">
                    <div class="m-portlet__body m-portlet__body--no-padding">

                        <div class="ptlet-pedal">
                            <div class="ptlet-pedal-hd">@Html.Raw(Html.GetTansByLan("silkpay-recharge-06", "充币记录"))</div>
                            <div style="padding:0px 0px 15px 0px">
                                <div class="table-responsive">
                                    <table class="table" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th class="p-md-l-30">@Html.Raw(Html.GetTansByLan("silkpay-recharge-07", "充币地址"))</th>
                                                <th class="text-center">@Html.Raw(Html.GetTansByLan("silkpay-recharge-08", "充币数量"))</th>
                                                <th class="text-right">@Html.Raw(Html.GetTansByLan("silkpay-recharge-09", "更新时间"))</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.RechargeData != null && Model.RechargeData.Count > 0)
                                            {
                                                foreach (var item in Model.RechargeData) { 
                                                    <tr>
                                                        <td class="p-md-l-30">
                                                            @item.CoinAddress
                                                        </td>
                                                        <td class="text-center">
                                                            @Html.AmountFormat(item.Amount)
                                                        </td>
                                                        <td class="text-right">
                                                            @item.UpdateTime.ToString("yyyy-MM-dd HH:mm:ss")
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else { 
                                            <tr><td colspan="3" style="text-align:center;">@Html.GetTansByLan("recharge-summary-nodata", "No data available")</td></tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/sweetalert.min.js"></script>
@section script{
    <script>
        $('#a_enable_2fa').click(function (e) {
            e.preventDefault();
            var tempCode = 'https://www.baidu.com';
            $("#img_2fa_enable_address").empty().qrcode({
                width: 180,
                height: 180,
                text: tempCode
            });
            $("#m_modal_enable_2fa").modal();
            return false;
        });
        $("#CoinType").change(function () {
            $.post('/SilkPay/Recharge', { CoinType: $("#CoinType").val() }, function (data) {
                $("#affiliate_invite_address").val(data);
             });
        });
    </script>
}
